<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           	<h3 class="stitle text-center">Fiscalización</h3>
	                           	<h6  class="title-info text-center">Sub Gerencia de Fiscalización Tributaria</h6>

								<div class="row">
									<div class="col-md-12">
		                       			<p>La Sub Gerencia de Fiscalización Tributaria, es el órgano de línea, cuya función es la de planificar, organizar y ejecutar las acciones que permitan la detección de contribuyentes omisos y subvaluadores de aquellos tributos administrados por la municipalidad.</p>
		                       			<p>La Sub Gerencia de Fiscalización Tributaria depende administrativamente y funcionalmente de la Gerencia de Rentas.</p>
		                       			
		                       		</div>
		                       	</div>
		                       	
		                       	<div th:replace="web/fragments/mini-banner"></div>
	                           	
	                           	<h6 class="title-info">Visión</h6>
	                           	<div class="row">
                                    <div class="col-md-12">
                                       <p>Constituirse en una Unidad Orgánica que detecte  la elusión y  evasión tributaria de los contribuyentes</p>
                                    </div>
								</div>
	                           	
								<h6 class="title-info">Misión</h6>
	                           	<div class="row">
                                    <div class="col-md-12">
                                       <p>Somos una Unidad Orgánica eficiente y eficaz que trabaja en equipo y con vocación de servicio para la institución y comunidad, con un servicio de calidad para la concientización y educación tributaria.</p>
                                    </div>
								</div>
								
								<h6 class="title-info">Marco Legal</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="checklist table-info">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Constitución Política del Perú</span>
                                       		</li>
											<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ley de Tributación Municipal aprobado por D.Leg. 776</span>
                                       		</li>
											<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ley Orgánica de Municipalidades 27972</span>
                                       		</li>
											<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">D. Ley 135-99-EF Texto Único Ordena de Tributación Municipal</span>
                                       		</li>
                                       		
                                       		
                                       		
											<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ley 27444 Ley del Procedimiento Administrativo General</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ley   Nº 27806 Ley de Transparencia y Acceso a la Información Pública</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ley 27927: Ley que modifica la Ley N° 27806, Ley de Transparencia y Acceso a la Información Pública Publicado el martes 4 de febrero de 2003. Modificada</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ley 27806: Ley de Transparencia y Acceso a la Información Pública Publicado el Sábado 3 de Agosto de 2002 Modificada</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">D. S. 043-2003 Aprueban Texto Único Ordenado de la Ley Nº 27806, Ley de Transparencia y Acceso a la Información Pública  Publicado el 24 de Abril de 2003</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">D. S. 072-2003: Aprueban el Reglamento de la Ley de Transparencia y Acceso a la Información Pública. Publicado el 07 de Agosto de 2003</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">D. S. 095-2003: Modifican el Artículo 2do del Reglamento la Ley de Transparencia y Acceso a la Información Pública  Publicado el 28 de Noviembre de 2003</span>
                                       		</li>
										</ul>
                                    </div>
								</div>
								
								<h6 class="title-info">Valores</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="checklist table-info">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Integridad</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ética</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Disciplina</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Responsabilidad</span>
                                       		</li>
                                       		
                                       		
											
											<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Honestidad</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Comunicación</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Laboriosidad</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Eficiencia</span>
                                       		</li>
											
											
											
											<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Superación</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Objetividad</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Lealtad</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Diligencia</span>
                                       		</li>
										</ul>
                                    </div>
								</div>
								
								<h6 class="title-info">Objetivos Generales</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <p>Detectar la evasión e ilusión tributaria de los contribuyente  e implementar el Sistema de Control Interno.</p>
                                    </div>
								</div>
								
								<h6 class="title-info">Objetivos Específicos</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="checklist table-info">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Detectar la evasión y elusión tributaria  de los contribuyentes</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Fiscalizar el integro de la zona Industrial (principales contribuyente y medianos contribuyentes)</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Fiscalizar el integro de las zonas urbanas</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Realizar la fiscalización posterior de los procedimientos administrativos automáticos y/o de evaluación previa</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Detectar Omisos y Sub-valuadores al pago del Impuesto Predial</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ampliación de la Base Tributaria</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Reducir el nivel de morosidad y evasión tributaria municipal</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Implementar y evaluar  el Sistema de Control Interno</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Implementar mecanismos de control que evite la prescripción de los tributos municipales e induzca al pago</span>
                                       		</li>
                                       		
										</ul>
                                    </div>
								</div>
								
								<h6 class="title-info">Funciones</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="checklist table-info">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Detectar la evasión y elusión tributaria  de los contribuyentes</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Fiscalizar el integro de la zona Industrial (principales contribuyente y medianos contribuyentes)</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Fiscalizar el integro de las zonas urbanas</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Realizar la fiscalización posterior de los procedimientos administrativos automáticos y/o de evaluación previa</span>
                                       		</li>
                                       		
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Detectar Omisos y Sub-valuadores al pago del Impuesto Predial</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Ampliación de la Base Tributaria</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Reducir el nivel de morosidad y evasión tributaria municipal</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Implementar y evaluar  el Sistema de Control Interno</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Implementar mecanismos de control que evite la prescripción de los tributos municipales e induzca al pago</span>
                                       		</li>
										</ul>
                                    </div>
								</div>
								
								<h6 class="title-info">Funciones</h6>
								<div class="row">
                                    <div class="col-md-12">
                                    	<p><strong>La Subgerencia de Fiscalización Tributaria</strong> está cargo de un funcionario de confianza con categoría  de Jefe de Unidad y rango de Subgerente que depende jerárquicamente del Gerente de Rentas y sus funciones son:</p>
                                       <ul class="checklist table-info">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Programar, organizar, coordinar, ejecutar y supervisar las acciones de fiscalización tributaria destinados a detectar y sancionar a los contribuyentes omisos y evasores, subvaluaciones e irregularidades en el cumplimiento de sus obligaciones tributarias</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Programar periódicamente acciones de fiscalización posteriores referente a la presunción de veracidad en la información declarada, conforme a lo dispuesto por el código tributario, y contribuyentes que gozan de beneficios tributarios</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Emitir Resolución de determinación y resolución de multa por tributos municipales y remitir los valores consentidos a las Subgerencias de Administración Tributaria para la actualización de la base de datos y a la Subgerencia de Control y Recaudación para la cobranza</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Efectuar las acciones de fiscalización a los espectáculos públicos no deportivos y juegos (bingos, rifas, sorteos y similares), a fin que se formule la liquidación tributaria para el pago del impuesto correspondiente</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Revisar las declaraciones juradas y otros documentos tributarios para determinar la correcta aplicación de los dispositivos tributarios en coordinación con las Subgerencias de Administración Tributaria y Control y Recaudación</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Atender y resolver las solicitudes y expedientes sobre reclamos tributarios relacionados a las funciones de su competencia</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Requerir información a las entidades públicas o privadas para efectuar la fiscalización relacionada con el cumplimiento de las obligaciones tributarias de los contribuyentes</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Proponer a la Gerencia de Rentas la formulación de proyectos de resolución de reclamaciones de expedientes relacionados a los procesos de fiscalización  y/o denuncias y demás  de su competencia</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Otras funciones que le asigne la Gerencia de Rentas en el ámbito de su competencia</span>
                                       		</li>
										</ul>
										
                                    </div>
								</div>
								
								<div class="row">
                                    <div class="col-md-12">
                                    	<p>Es importante mencionar que el área de Fiscalización Tributaria, realiza las actividades fundamentales que son:</p>
                                    	<p><strong>Inspección de Predios.-</strong> Consiste en la programación, requerimiento, visita, medición, verificación y llenado de datos de los predios seleccionados para la inspección, con la finalidad de verificar si cumplen con la correcta información declarada que registra en el sistema de Rentas. Comprende la visita de campo donde se realiza las mediciones y evaluación de las características constructivas de los predios y obras complementarias.</p>
                                    	<p>Luego se procede a la liquidación y elaboración del Informe técnico. calculo de las determinaciones de impuesto (Resoluciones de determinación).</p>
                                    	<p>Determinación de la Deuda.-Calculo de las diferencias detectadas en las inspecciones realizadas, por sub valuación y Omisión, para luego derivar el file a la Sub Gerencia de Administración Tributaria, para actualizar la base de datos, en el modulo de Sistema de Tributación.</p>
                                    </div>
								</div>
								
								
	                           
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>