<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           	<h3 class="stitle text-center">Zona Turística en Santa Anita</h3>
	                           	
								<div th:replace="web/fragments/mini-banner"></div>
	                           	
								
								<h6 class="title-info">Huaca bellavista</h6>
								<div class="row">
									<div class="col-md-12">
										<p>La Huaca Bellavista se encuentra entre las calles 17 y 23 y la Av. Los Virreyes de la urbanización Alameda de Ate II etapa del distrito de Santa Anita.</p>
										<p>La huaca fue construida por los Ychma hace 800 años para que funcionara como un pequeño centro administrativo, muy similar a un municipio en la actualidad: Aquí habitaba el curaca o gobernante, quien tenía la función de recaudar los tributos, dirigir las siembras, las ceremonias y organizar a las personas para la realización de diferentes tareas.</p>
										<p>Desde la cima del edificio se dirigieron las ceremonias, allí tenemos patios, paisajes, depósitos y otros espacios donde el gobernante desarrollaba sus actividades. Además en la explanada que da a la Av. Los Virreyes se han encontrado restos de edificaciones que estaban a nivel del suelo, las que funcionaban como depósitos, así como otras estructuras.</p>
										<p>La actividad principal con la que se mantenían era la agricultura; sembrando maíz, algodón, calabazas, frijoles, pallar, maní, la apreciada coca y otros muchos productos. Para poder hacerlo se construyeron grandes canales, que salían del río Rímac, como los de Laty y Surco que son los más cercanos y de los cuales salían otros canales pequeños, incluyendo el que recorre en la actualidad la Av. Los Virreyes.</p>
										<p>Además, se intercambiaba pescados con la gente que vivía cerca del mar y se recolectaba los recursos del río Rímac que está muy cerca. Cuando llegaron los Incas se controla esta zona desde Puruchuco, principal centro administrativo de la zona. Bellavista continua funcionando hasta la llegada de los españoles, quienes construyeron nuevos pueblos y trasladaron a los habitantes a estos nuevos pueblos (Reducciones).</p>
				                     </div>
								</div>
								
								<div class="row">
									<div class="img-gallery style-2 gallery">
										<div class="portfolio classic-gallery">
											<div class="isotope items">
												<div class="item width2">
													<div class="gallery-thumb"> 
														<a th:href="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-1.jpg')}" data-rel="prettyPhoto[gallery]">
															<i class="fas fa-search"></i>
														</a> 
														<img th:src="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-1.jpg')}" alt=""> 
													</div>
												</div>
												<div class="item width2">
													<div class="gallery-thumb"> 
														<a th:href="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-2.jpg')}" data-rel="prettyPhoto[gallery]">
															<i class="fas fa-search"></i>
														</a> 
														<img th:src="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-2.jpg')}" alt=""> 
													</div>
												</div>
												<div class="item width2">
													<div class="gallery-thumb"> 
														<a th:href="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-3.jpg')}" data-rel="prettyPhoto[gallery]">
															<i class="fas fa-search"></i>
														</a> 
														<img th:src="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-3.jpg')}" alt=""> 
													</div>
												</div>
												<div class="item width2">
													<div class="gallery-thumb"> 
														<a th:href="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-4.jpg')}" data-rel="prettyPhoto[gallery]">
															<i class="fas fa-search"></i>
														</a> 
														<img th:src="${@helper.assetsImg('lugares-turisticos/huaca-de-bellavista-4.jpg')}" alt=""> 
													</div>
												</div>
											</div>
										</div>
						            </div>
								</div>
								
								<h6 class="title-info">Huaca perales</h6>
								<div class="row">
									<div class="col-md-12">
										<p>La Huaca Perales está ubicada entre las calles Los Nogales y Alcanfores, de la Cooperativa Universal (Ex - Hacienda El Inquisidor que posteriormente fue otorgada a la cooperativa Universal ) se desconoce el nombre original del sitio, pero se le conoce como Perales, por el nombre de un antiguo Fundo que comprendía en sus terrenos a este Monumento.</p>
										<p>La Huaca Perales es un conjunto arqueológico que pertenece al periodo cronológico del Intermedio Tardío (1470 d.c. - 1532 d.c.) pertenecientes al Señorío Ichma, que abarca los valles de Lurín y Rímac.</p>
										<p>En 1951, el sitio fue excavado parcialmente por el arqueólogo Filomeno Melgarejo, quien encontró cerámica de la Cultura Huancho Tardío y Colonial Tampara, incluidas 6 grandes tinajas, además de 2 entierros humanos en posición cúbito dorsal, sin mayores asociaciones.</p>
										<p>Según describe Melgarejo. El conjunto medía 170 mts. de largo por 66 mts. de ancho y 8 mts. de altura y cuyas paredes de los recintos son tapiales de 70 y 80 cm de espesor.</p>
										<p>La Cultura Huancho fue descartada por posteriores investigaciones, especialmente por Bazán Campos quien en su tesis, afirma que no existe ninguna entidad cultural Huancho en la zona, sino que se trataba de un Señorío Ishma, qué posteriormente fue aceptado por los Arqueólogos.</p>
										<p>El hallazgo de cerámica Inca encontrada en Perales, aún no fue determinado si fue imperial o local, pero este detalle determina de alguna forma, el grado de importancia del sitio, para el Horizonte Tardío, durante el periodo de expansión del territorio Inca.</p>
										<p>También se encontró cerámica de estilo colonial, que probaría que esta sociedad sobrevivió a la llegada de los Españoles en el sitio de Perales.</p>
										<p>El sitio Perales conformaba hasta 1950, un complejo constituido por 3 montículos o en su totalidad para construir viviendas modernas para una fábrica de losa y agregados. y la Cooperativa de Chóferes de Servicio Público de Lima.</p>
										<p>En 1988 el Arqueólogo Rógger Ravines la registra en el inventario de monumentos arqueológicos del Perú Tomo II, como unidad residencial edificado sobre plataformas superpuestas, rellenas con tierra y hormigón, cuyos datos se encuentran en el INC.</p>
										<p>El 27 de Mayo de 2003, en el área de cultura de la Municipalidad de Lima, Santa Anita presenta un proyecto para su puesta en valor y la construcción del "Parque Histórico Cultural Huaca Perales de Santa Anita" y las zonas libres de la Huaca destinas para recreación pública.</p>
										<p>En Agosto del 2003 fue declarado por el I.N.C. (Instituto Nacional de Cultura), como patrimonio cultural de la Nación, mediante Resolución Directoral N 454-2003.</p>
				                     </div>
								</div>
								
	                           
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>