<div class="col-md-12">
	<div class="deprt-txt gallery">
		<h3 class="stitle text-center">Proceso de Cambio de Zonificación</h3>
		
		<div th:replace="web/fragments/mini-banner"></div>
		
		<h6 class="title-info text-center">Obras en Cargo</h6>
		
		<h6 class="title-info">Proceso Cambio Especifico de Zonificación</h6>
		<div class="row">
	        <div class="col-md-12">
	           <p>El proceso de cambio especifico de zonificación, es el proceso que aplica el acondicionamiento territorial para el desarrollo urbano dentro de los limites del distrito, dicho proceso puede ser solicitado por un contribuyente al municipio, esta es consultada a los contribuyentes de la zona propuesta para el cambio de zonificación en el periodo establecido, a partir de alli se inicia el proceso de zonificación. Como lo indica la Ley N° 27972 en su Titulo preliminar Artículo ix, a la letra dice:</p>
	        </div>
		</div>
		
		<h6 class="title-info">Articulo IX.- Planeación local</h6>
		<div class="row">
	        <div class="col-md-12">
	           <p>El proceso de planeación local es integral, permanente y participativo, articulando a las municipalidades con sus vecinos. En dicho proceso se establecen las políticas públicas de nivel local, teniendo en cuenta las competencias y funciones específicas exclusivas y compartidas establecidas para las municipalidades provinciales y distritales.</p>
	           <p>El sistema de planificación tiene como principios la participación ciudadana a través de sus vecinos y organizaciones vecinales, transparencia, gestión moderna y rendición de cuentas, inclusión, eficiencia, eficacia, equidad, imparcialidad y neutralidad, subsidiariedad, consistencia con las políticas nacionales, especialización de las funciones, competitividad e integración.</p>
	        </div>
		</div>
		
		<h6 class="title-info">2015</h6>
		<div class="row">
	        <div class="col-md-12">
				<div class="new-thumb new-thumb-post text-center">
					<img th:src="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2015_2.png')}" alt="" class="w-auto">
				</div>
	        </div>
		</div>
		
		<h6 class="title-info">2015-I</h6>
		<div class="row">
	        <div class="col-md-12">
	           	<ul class="checklist">
					<li>
						<i class="fas fa-check"></i> Expediente N° 72-15 (Fecha 06-01-15)
						<p class="checklist">MARIO ETEREO DAVILA SALDIVAR Jr. Ludwing Van Beethoven Mz. G Lt. 28 Urbanización Los Productores</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Expediente N° 1743-15 (Fecha 27-02-15)
						<p class="checklist">JORGE ARTURO MIÑAN MOGOLLÓN en representación del Padre Grimaldo Garay Zapata de la Congregación Santisimo Redentor Viceprovincia de Peru Norte. Cascanueces esq. Calle Los Tordos Mz. F1 Lt. 01 Urbanización Santa Anita</p>
					</li>
				</ul>
				<div class="img-gallery style-2">
					<div class="portfolio classic-gallery">
						<div class="isotope items">
							<div class="item width2">
								<div class="gallery-thumb"> 
									<a th:href="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2015_1.png')}" data-rel="prettyPhoto[gallery]">
										<i class="fas fa-search"></i>
									</a> 
									<img th:src="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2015_1.png')}"  alt=""> 
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
		</div>
		
		<h6 class="title-info">2014-III</h6>
		<div class="row">
	        <div class="col-md-12">
	           	<ul class="checklist">
					<li>
						<i class="fas fa-check"></i> Expediente N° 6923-14 (Fecha 02-09-14)
						<p class="checklist">Milton Elias Champi Barriga Jr. Los Flamencos Mz. Q Lt.13 y 14 Urb. Santa Anita.</p>
					</li>
				</ul>
				<div class="img-gallery style-2">
					<div class="portfolio classic-gallery">
						<div class="isotope items">
							<div class="item width2">
								<div class="gallery-thumb"> 
									<a th:href="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2014_4.png')}" data-rel="prettyPhoto[gallery]">
										<i class="fas fa-search"></i>
									</a> 
									<img th:src="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2014_4.png')}"  alt=""> 
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
		</div>
		
		<h6 class="title-info">2014-II</h6>
		<div class="row">
	        <div class="col-md-12">
	           	<ul class="checklist">
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 10403 -14 (Fecha 14-08-14)
						<p class="checklist">Dirección de salud iv lima este representado por el dr. Luis alberto fuentes tafur jr. Húsares de Junín,jr.Los Libertadores y jr. Jose Carlos Mariategui; mz. B5 lt. 01 de la Coop. De vivienda universal.</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Expediente N° 6840 -14 (Fecha 28-08-14)
						<p class="checklist">TECUP N°1 representado por Otto Hans French Huartado Av. Huarochiri, calle Los Damacos y Calle Loa Amatistas Lt. B de la Urb. Sector I, Parcelación Fundo Vista Alegre.</p>
					</li>
				</ul>
				<div class="img-gallery style-2">
					<div class="portfolio classic-gallery">
						<div class="isotope items">
							<div class="item width2">
								<div class="gallery-thumb"> 
									<a th:href="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2014_3.jpg')}" data-rel="prettyPhoto[gallery]">
										<i class="fas fa-search"></i>
									</a> 
									<img th:src="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2014_3.jpg')}"  alt=""> 
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
		</div>
		
		<h6 class="title-info">2014-I</h6>
		<div class="row">
	        <div class="col-md-12">
	           	<ul class="checklist">
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 9293 -14 (Fecha 18-07-14)
						<p class="checklist">LIMA CAUCHO S.A. representado por Carlos Alberto Uribe de Francisco Av. Carretera Central N°321,325,345,349,359,363; Av. Los Ruiseñores y Calle Ticino - Sub lote A Fundo Inquisidor y Pulido.</p>
					</li>
				</ul>
				<div class="img-gallery style-2">
					<div class="portfolio classic-gallery">
						<div class="isotope items">
							<div class="item width2">
								<div class="gallery-thumb"> 
									<a th:href="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2014_2.png')}" data-rel="prettyPhoto[gallery]">
										<i class="fas fa-search"></i>
									</a> 
									<img th:src="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2014_2.png')}"  alt=""> 
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
		</div>
		
		<h6 class="title-info">2013-II</h6>
		<div class="row">
	        <div class="col-md-12">
	           	<ul class="checklist">
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 2816 -13 (Fecha 05-03-13)
						<p class="checklist">Sra. Mey Leng Alicia Silva Chuton MZ. A LT. N° 19 Y 20 de la Urbanización Los Robles.</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 12431 -13 (Fecha 06-09-13)
						<p class="checklist">Sr. Pio Agustin Cárdenas Nolasco MZ. M-1 LT.3 Y 4, de la Cooperativa de Vivienda Los Chancas de Andahuaylas</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 10778 -13 (Fecha 07-08-13)
						<p class="checklist">Sr. Carlos Antonio Torres Cardenas y Sra. Liliana Betha Torres Mz. B Lt. 5 y 6, con frenre a la Av. Colectora Industrial de la Asociación de Vivienda Santa Cruz de Vista Alegre.</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 115949 -13 (Fecha 21-08-2013)
						<p class="checklist">Asociación del Mercado El Modelo de la Urbanización La Primaver de Santa Anita(Sr. Marcos Juárez Peña) Mz. A-23 Lt. 1-7 Y 18-24 de la Urbanización Primavera</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo: N° 11950 (Fecha 28-08-2013)
						<p class="checklist">CONSTRUCTORES INTERAMERICANOS S.A.C.(Sr. álvaro Curzio Magna Valenzuela) Sector I - Parcelación Fundo Vista Alegre Santa Anita</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo: N° 11303 (Fecha 16-08-2013)
						<p class="checklist">STX S.A.C. (Sr. Julio Alberto Robles Alayo) Mz.B-9 Lt. 05 de la Asociación de Vivienda Residencial Santa Anita.</p>
					</li>
				</ul>
				<div class="img-gallery style-2">
					<div class="portfolio classic-gallery">
						<div class="isotope items">
							<div class="item width2">
								<div class="gallery-thumb"> 
									<a th:href="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2013_2.jpg')}" data-rel="prettyPhoto[gallery]">
										<i class="fas fa-search"></i>
									</a> 
									<img th:src="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2013_2.jpg')}"  alt=""> 
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
		</div>
		
		<h6 class="title-info">2013-I</h6>
		<div class="row">
	        <div class="col-md-12">
	           	<ul class="checklist">
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 1867 -13 (Fecha 14-02-13)
						<p class="checklist">Jaime Antonio Vilchez Gutierrez. MZ. R LT. 37,con frente al Jr. Los Flamencos de la Urbanización Santa Anita.</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 16996 -12 (Fecha 29-12-12)
						<p class="checklist">Milton Elias Champi Barriga. MZ. Q LT. 13 Y 14,con frente al Jr. Los Flamencos de la Urbanización Santa Anita.</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 2655 -13 (Fecha 28-02-13)
						<p class="checklist">Celestino Chavez Escobar Sub Lote 4A-b de la Parcela Número 4 del Sector A-Zona Alta del Fundo Inquisidor.</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Documento Externo N° 2654 -13 (Fecha 28-02-13)
						<p class="checklist">LOGINVESTMENTS S.A.C. Sub-Lote 1-C de la Mz.E-5 intersección del Jirón Los Cipreses y Calle Gilberto Espinoza de la Lotización Puente.</p>
					</li>
					<li>
						<i class="fas fa-check"></i> Expediente: N° 1768 (Fecha 28-02-2013)
						<p class="checklist">Asociación de Comerciantes del Mercado de Abastos SANTA Rosa de la Cooperativa de Vivienda Manuel Correa Ltda. N°37. MZ. A LT.14 de la Cooperativa de Vivienda Manuel Correa.</p>
					</li>
				</ul>
				<div class="img-gallery style-2">
					<div class="portfolio classic-gallery">
						<div class="isotope items">
							<div class="item width2">
								<div class="gallery-thumb"> 
									<a th:href="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2013_1.png')}" data-rel="prettyPhoto[gallery]">
										<i class="fas fa-search"></i>
									</a> 
									<img th:src="${@helper.assetsImg('informacion/proceso-de-cambio-de-zonificacion/obra_2013_1.png')}"  alt=""> 
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
		</div>
		
		<h6 class="title-info">2012</h6>
		<div class="row">
	        <div class="col-md-12">
	           	
				<ul class="table-info checklist">
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2012-3') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">Expediente N° 187001 -11 (Documento Externo N° 1850 de fecha 10-02-12)</span>
						</a>
						<p class="checklist">Asociacion de Comerciantes Mega Santa Anita Representada por la Sra. Norma Ines Serrano Ticllas. MZ. H LT. 24, DE LA COOPERATIVA DE VIVIENDA MIGUEL GRAU LTDA N° 365</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2012-2') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 196633-2011 Doc_Externo : N° 1475</span>
						</a>
						<p class="checklist">Fabricación Comercio y Turismo Belen Sociedad Anónima Cerrada(FACOTURB S.A.C.) Representada por el Sr. Asdrubal López Chistama MZ. T LT. 19, DE LA URBANIZACIóN SANTA ANITA</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2012-1') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 8756-12 Doc_Externo : N° 1277</span>
						</a>
						<p class="checklist">Asociacion del Mercado El Modelo de la Urbanizacion la Primavera de Santa Anita, Representado por el Sr. Marcos Juarez Peña. MZ. A-23 LT. 01 AL 07 Y 18 AL 24, DE LA URBANIZACIóN PRIMAVERA</p>
					</li>
				</ul>
	        </div>
		</div>
		
		<h6 class="title-info">2011</h6>
		<div class="row">
	        <div class="col-md-12">
	           	
				<ul class="table-info checklist">
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2011-4') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 161217-11 Doc_Externo : N° 14609</span>
						</a>
						<p class="checklist">Ana Oscco Gaspar De Cardenas Y Pio Agustin Cardenas Nolasco MZ. M1 LT. 3 Y 4, DE LA COOPERATIVA DE VIVIENDA LOS CHANCAS DE ANDAHUAYLAS</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2011-3') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 156690-11 Doc_Externo : N° 14220</span>
						</a>
						<p class="checklist">Asociación De Comerciantes Segundo Domingo De Mayo, Representado Por El Sr. Edison Ramiro Nonalaya Huaman MZ. H-4 LT. 01, DE LA LOTIZACIóN PUENTE</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2011-2') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 152117-11 Doc_Externo : N° 13447</span>
						</a>
						<p class="checklist">Leonidas Brocos Arroyo Y Marlene Piedad Ulloa Guerra MZ. P LT. 54, DE LA URBANIZACIóN ALAMEDA DE ATE 2DA. ETAPA</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2011-1') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 103281-11</span>
						</a>
						<p class="checklist">Rodolfo Yali Ricaldi, Manuel Yali Ricaldi y Alejandro Yali Ricaldi MZ. H-1 LT. 01, DE LA URBANIZACION EL ASESOR I</p>
					</li>
				</ul>
	        </div>
		</div>
		
		<h6 class="title-info">2010</h6>
		<div class="row">
	        <div class="col-md-12">
	           	
				<ul class="table-info checklist">
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2010-1') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 7652-09</span>
						</a>
						<p class="checklist">Prudencia Machaca Tito de Condori y Visitación Eleodoro Condori Huanca Tayro Tayro. PARCELA CUATRO DE LA SECCIóN UNO AVENIDA SANTA ROSA SUB LOTE 1 SECTOR A DE LA ZONA ALTA DEL FUNDO INQUISIDOR - SANTA ANITA.</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2010-2') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 72055-10</span>
						</a>
						<p class="checklist">Asunción Huamanzana Ysla y Agapito Barrientos Benites. MZ. D (LOTES DEL 1-3 Y 17-23), MZ. F (LOTES DEL 15-20) Y MZ. CH (LOTES DEL 1-8, 16-17 Y 30-31) DE LA URBANIZACIÓN ALAMEDA DE ATE 2DA. ETAPA.</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2010-3') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 141615-10</span>
						</a>
						<p class="checklist">Consorcio Educativo Juan Espinoza Medrano El Apostol S.A.C. MZ. B (LOTES 4,5,8,9 Y 10), DE LA ASOCIACIÓN DE VIVIENDA LOS JARDINES DE LA ENCALADA.</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2010-4') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 141605-10</span>
						</a>
						<p class="checklist">Consorcio Educativo Juan Espinoza Medrano El Apostol S.A.C. MZ. D (LOTES DEL 41 al 47), DE LA ASOCIACIÓN DE VIVIENDA LA ENCALADA</p>
					</li>
				</ul>
	        </div>
		</div>
		
		<h6 class="title-info">2009</h6>
		<div class="row">
	        <div class="col-md-12">
	           	
				<ul class="table-info checklist">
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2009-3') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 6032-09</span>
						</a>
						<p class="checklist">Hermogenes Clodomiro Cabrejos Sanchez ALTURA DEL K.M. 3.5 DE LA CARRETERA CENTRAL ZONA INDUSTRIAL - PARTE DEL FUNDO ASESOR - SANTA ANITA ESQUINA DE LA CARRETERA CENTRAL Y AV. LA CULTURA.</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2009-2') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">Escrito S/N de fecha 09-09-09 (Exp. Nº 87685-09-MML)</span>
						</a>
						<p class="checklist">Juan Pablo Castillo Fuentes Rivera y Milagros Gloria Tayro Tayro LT. 14 MZ. V-2 URB. LA UNIVERSAL 3RA. ETAPA (ESQUINA JR. LOS ALAMOS Y JR. JOSE RODRIGUEZ DE MENDOZA)</p>
					</li>
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2009-1') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 04610-09</span>
						</a>
						<p class="checklist">TECSUP N° 01. Sector N° 1 Parcelación Vista Alegre y Anexos, Av. Cascanueces N° 2221</p>
					</li>
				</ul>
	        </div>
		</div>
		
		<h6 class="title-info">2008</h6>
		<div class="row">
	        <div class="col-md-12">
	           	
				<ul class="table-info checklist">
					<li>
						<a th:href=" ${ @helper.getPageInfo('proceso-de-cambio-de-zonificacion/proceso-cambio-2008-1') } ">
							<span class="table-item-ico left"><i class="ico view"></i></span>
							<span class="table-item-text">N° 05929-08</span>
						</a>
						<p class="checklist">Sociedad Importadora S.A. ESQ. AV. LOS ROSALES Y JR. BATALLON CALLAO, PARCELA 3 SECCION 1, SECTOR A MANZANA ALTA DEL FUNDO INQUISIDOR</p>
					</li>
				</ul>
	        </div>
		</div>
		
		
	</div>
</div>