<div class="deprt-txt gallery">
		<h3 class="stitle text-center">Proceso de Cambio de Zonificación</h3>
		
		<div class="row">
	        <div class="col-md-12">
				<p>Se notifica a los vecinos que se encuentra en trámite en la Municipalidad Distrital de Santa Anita el Cambio Especifico de Zonificación :</p>
				
				<p><strong>Expediente : </strong> N° 161217-11 (Documento Externo N° 14609 de fecha 07 de Noviembre del 2011)</p>
				<p><strong>Fecha de inicio del proceso de evaluación :</strong> 07 de Noviembre del 2011</p>
				<p><strong>Nombre o razón Social del solicitante:</strong> Ana Oscco Gaspar De Cardenas Y Pio Agustin Cardenas Nolasco</p>
				<p><strong>Ubicación del predio solicitante :</strong> MZ. M1 LT. 3 Y 4, DE LA COOPERATIVA DE VIVIENDA LOS CHANCAS DE ANDAHUAYLAS</p>
			</div>
		</div>
		
		<br/>
		
		<div class="row">
			<div class="col-md-12">
				<ul class="gallery-4-col float-none">
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/area-inmediata-de-la-propuesta-de-cambio-especifico-de-zonificacion.png')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/area-inmediata-de-la-propuesta-de-cambio-especifico-de-zonificacion.png')}" alt="Área inmediata de la propuesta de cambio especifico de zonificación"> 
						</a>
						<p>Área inmediata de la propuesta de cambio especifico de zonificación</p>
					</li>
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/area-proxima-a-la-propuesta-de-cambio-especifico-de-zonificacion.png')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/area-proxima-a-la-propuesta-de-cambio-especifico-de-zonificacion.png')}" alt="Área próxima a la propuesta de cambio especifico de zonificación"> 
						</a>
						<p>Área próxima a la propuesta de cambio especifico de zonificación</p>
					</li>
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/zonificacion-actual-rdm-residencial-de-densidad-media.png')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/zonificacion-actual-rdm-residencial-de-densidad-media.png')}" alt="Zonificación actual : rdm residencial de densidad media"> 
						</a>
						<p>Zonificación actual : rdm residencial de densidad media</p>
					</li>
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/zonificacion-propuesta-cv-comercio-vecinal.png')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2011/4/zonificacion-propuesta-cv-comercio-vecinal.png')}" alt="Zonificación propuesta : cv comercio vecinal"> 
						</a>
						<p>Zonificación propuesta : cv comercio vecinal</p>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="row">
	        <div class="col-md-12">
				<p><strong>Plazo Presentación de Opiniones :</strong> 07 de Diciembre del 2011</p>
				<p><strong>Lugar para presentar opiniones :</strong> Gerencia de Obras y Desarrollo Urbano y Oficina de Participación Vecinal de la Municipalidad de Santa Anita</p>
			</div>
		</div>
</div>	