<h1 class="title-info mt-0">Base legal</h1>

<p>Contempla el marco normativo en el cual se enmarcan las acciones y actividades que se desarrollarán en el Plan de Seguridad Ciudadana</p>

<table class="table">
	<thead>
		<tr>
		  <th scope="col">Índice</th>
		  <th scope="col">Contenido</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td><span class="d-block">Constitución Política del Perú</span></td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td><span class="d-block">Ley N° 27933, Ley del Sistema Nacional de Seguridad Ciudadana</span></td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td><span class="d-block">Ley N° 27867, Ley Orgánica de Gobiernos Regionales</span></td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td><span class="d-block">Ley N° 27972, Ley Orgánica de Municipalidades</span></td>
		</tr>
		<tr>
			<th scope="row">5</th>
			<td><span class="d-block">Decreto Legislativo N° 1135, Ley de Organización y Funciones del Ministerio del Interior</span></td>
		</tr>
		<tr>
			<th scope="row">6</th>
			<td><span class="d-block">Decreto Legislativo N° 1148, Ley de la Policía Nacional del Perú</span></td>
		</tr>
		<tr>
			<th scope="row">7</th>
			<td><span class="d-block">Ley N° 27783, Ley de Bases de la Descentralización</span></td>
		</tr>
		<tr>
			<th scope="row">8</th>
			<td><span class="d-block">Ley N° 27908, Ley de Rondas Campesinas</span></td>
		</tr>
		<tr>
			<th scope="row">9</th>
			<td><span class="d-block">Ley N° 27444, Ley del Procedimiento Administrativo General</span></td>
		</tr>
		<tr>
			<th scope="row">10</th>
			<td><span class="d-block">Ley N° 29010, Ley que faculta a los Gobiernos Regionales y Gobiernos Locales a disponer de recursos a favor de la Policía Nacional del Perú</span></td>
		</tr>
		<tr>
			<th scope="row">11</th>
			<td><span class="d-block">	Ley N° 29701, Ley que dispone beneficios a favor de los integrantes de las Juntas Vecinales y establece el día de las Juntas Vecinales de Seguridad Ciudadana; y su Reglamento aprobado por Decreto Supremo N° 002-2013-IN</span></td>
		</tr>
		<tr>
			<th scope="row">12</th>
			<td><span class="d-block">Ley N° 30120, Ley de apoyo a la Seguridad Ciudadana con cámaras de video vigilancia públicas y privadas</span></td>
		</tr>
		<tr>
			<th scope="row">13</th>
			<td><span class="d-block">Ley N° 30026, Ley que autoriza la contratación de pensionistas de la Policía Nacional del Perú y de las Fuerzas Armadas para apoyar en áreas de Seguridad Ciudadana y Seguridad Nacional</span></td>
		</tr>
		<tr>
			<th scope="row">14</th>
			<td><span class="d-block">Decreto Supremo N° 012-2013-IN, que aprueba Política Nacional del Estado Peruano en Seguridad Ciudadana y el Plan Nacional de Seguridad Ciudadana 2013 - 2018</span></td>
		</tr>
		<tr>
			<th scope="row">15</th>
			<td><span class="d-block">Decreto Supremo N° 010-2013-IN, que aprueba el Reglamento de Organización y Funciones del Ministerio del Interior</span></td>
		</tr>
		<tr>
			<th scope="row">16</th>
			<td><span class="d-block">Decreto Supremo N° 011-2004-IN, que aprueba el Reglamento de la Ley del Sistema de Seguridad Ciudadana</span></td>
		</tr>
		<tr>
			<th scope="row">17</th>
			<td><span class="d-block">Resolución Ministerial N° 1168-2014-IN/PNP, que aprueba las Guías Metodológicas para el diseño de sectores y mapa del delito en las jurisdicciones policiales de las comisarías y para el patrullaje por sector en los gobiernos locales</span></td>
		</tr>
		<tr>
			<th scope="row">18</th>
			<td><span class="d-block">Normas de Índole presupuestal vigentes para el año fiscal que se formula el Plan de Seguridad Ciudadana</span></td>
		</tr>
		<tr>
			<th scope="row">19</th>
			<td><span class="d-block">La presente Directiva, 01-2015-IN</span></td>
		</tr>
		<tr>
			<th scope="row">20</th>
			<td><span class="d-block">Ley N° 30364</span></td>
		</tr>
		<tr>
			<th scope="row">21</th>
			<td><span class="d-block">Ley N° 30868</span></td>
		</tr>
		<tr>
			<th scope="row">22</th>
			<td><span class="d-block">Decreto Legislativo N° 1386</span></td>
		</tr>
		<tr>
			<th scope="row">22</th>
			<td><span class="d-block">Decreto Legislativo N° 1454</span></td>
		</tr>
	</tbody>
</table>
