<h1 class="title-info mt-0">CEMVI (Central de Monitoreo y Videovigilancia)</h1>

<p>
    La Central de Monitoreo y Videovigilancia, tiene por función principal accionar las fuerzas operativas de seguridad ciudadana en forma automática e inmediata, en base a procedimientos establecidos y realiza sus funciones las 24 horas del día, los 365 días del año.<br/>
    Contando con 57 cámaras que han sido colocadas en los puntos de más alto índice delictivo, permitiendo la captura de delincuentes y salvaguardar la integridad de las personas, siempre con el apoyo de la Policía Nacional, bomberos y organizaciones inmersas en el tema de seguridad.
</p>