<h3 class="title-info mt-0">COMITE DISTRITAL DE SEGURIDAD CIUDADANA - SANTA ANITA 2019</h3>

<h6 class="title-info">I Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/1.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de instalación y juramentación del comité distrital de seguridad ciudadana Santa Anita 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/2.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de designación del secretario técnico</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">I Sesión Extra Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/3.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de reunión de trabajo - elaboración del plan de acción seguridad ciudadana 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/4.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de aprobación del plan de acción seguridad ciudadana 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/5.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Ordenanza N° 000261/MDSA de fecha 29 de marzo del 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/6.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Plan de acción de seguridad ciudadana 2019 del distrito de Santa Anita</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">II Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/7.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: II Sesión ordinaria del comité distrital de seguridad ciudadana 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/8.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de juramentación de los nuevos integrantes del comité distrital de seguridad ciudadana santa anita 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">II Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/9.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: II Sesión extra ordinaria del comité distrital de seguridad ciudadana 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/10.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Directiva N° 001 - 2019 - CODISEC santa anita</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">III Sesión ordinaria del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/11.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: III Sesión ordinaria del comité distrital de seguridad ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">I Consulta pública de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/12.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: I Consulta pública de seguridad ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">Cuadro de evaluación de los integrantes del CODISEC</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ley27933.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de Evaluación de los Integrantes del CODISEC del I Trimestre 2019 - MININTER</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/Lima - I Trimestre.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de Evaluación de los Integrantes del CODISEC I Trimestre 2019 - COPROSEC</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">IV Sesión ordinaria del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/14.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: IV Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">III Sesión extraordinaria del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/15.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: III Sesión ExtraOrdinaria del Comité Distrital de Seguridad Ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">V Sesión ordinaria del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/16.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: V Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">VI Sesión ordinaria del domité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/17.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: VI Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">II Consulta pública de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/18.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: II Consulta Pública de Seguridad Ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">Cuadro de evaluación de los integrantes del CODISEC del II trimestre</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/19.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de Evaluación de los Integrantes del CODISEC del II Trimestre - COPROSEC</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/MININTER - II Trimestre.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de Evaluación de los Integrantes del CODISEC II Trimestre - MININTER</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">Integrantes del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/INTEGRANTES CODISEC 2019-.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de Integrantes del Comité Distrital de Seguridad Ciudadana 2019 - Actualizado</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">VII Sesión ordinaria del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/VII-Sesion-Ordinaria-2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: VII Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/APROBACION ICA 1 SEMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de aprobación de informe de ejecución de actividades programadas en el plan de acción de seguridad ciudadana 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/REFORMULACION DEL PASC 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de aprobación de la reformulación del plan de acción de seguridad ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">VIII Sesión ordinaria del comitó distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/VIII SESION ORDINARIA DEL CODISEC SANTA ANITA 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: VIII Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">IX Sesión ordinaria del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/IX SESION ORDINARIA CODISEC 2019-ULTIMA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: IX Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION DE EJECUCION DE ACTIVIDADES 3ER TRIMESTRE 2019-ULTIMA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de Aprobación de Ejecución de Actividades 3er Trimestre 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">III Consulta pública de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/III CONSULTA PUBLICA 2019-ULTIMA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: III Consulta publica de seguridad ciudadana 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">Cuadro de integrantes del Codisec santa anita - III trimestre 2019 ( Actualizado )</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/CUADRO DE INTEGRANTES DEL CODISEC SANTA ANITA - III TRIMESTRE 2019 ( ACTUALIZADO).pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de integrantes del Codisec santa anita - III trimestre 2019 ( Actualizado )</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">Cuadro de evaluación de los integrantes del Codisec del III trimestre 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/CUADRO DE EVALUACION DE LOS INTEGRANTES DEL CODISEC DEL III TRIMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de evaluacion de los integrantes del Codisec del III trimestre 2019</span></a></li>
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/Informe Trimestral Plan de Accion de Seguridad Ciudadana 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Informe trimestral del plan de acción de seguridad ciudadana 2019 del distrito de Santa Anita</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">Se suspende la X sesión ordinaria del Codisec santa anita 2019</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/COMUNICADO 1 - 2019 - CODISEC - ST.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Se suspende la X sesión ordinaria del Codisec santa anita 2019</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">X sesión ordinaria del comité distrital de seguridad ciudadana 2019</h6>
<div class="row">
	<div class="col-md-12">
	    <ul class="table-info">
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/IX SESION ORDINARIA DEL CODISEC SANTA ANITA 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: X sesión ordinaria del comité distrital de seguridad ciudadana 2019</span></a></li>
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE JURAMENTACION DE LOS NUEVOS INTEGRANTES DEL CODISEC SANTA ANITA 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA: Juramentación de los nuevos integrantes del comite distrital de seguridad ciudadana santa anita - 2019</span></a></li>
	    </ul>
	</div>
</div>


<h6 class="title-info">XI SESION ORDINARIA DEL CODISEC SANTA ANITA 2019</h6>
<div class="row">
	<div class="col-md-12">
	    <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/XI SESION ORDINARIA DEL CODISEC SANTA ANITA 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">XI SESION ORDINARIA DEL CODISEC SANTA ANITA 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION DEL INFORME DE EJECUCION DE ACTIVIDADES DEL PASC 2019 - 4TO TRIMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE APROBACION DEL INFORME DE EJECUCION DE ACTIVIDADES DEL PASC 2019 - 4TO TRIMESTRE 2019</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION DEL INFORME DE EJECUCION DE ACTIVIDADES DEL PASC 2019 - 2DO SEMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE APROBACION DEL INFORME DE EJECUCION DE ACTIVIDADES DEL PASC 2019 - 2DO SEMESTRE 2019</span></a></li>
	    </ul>
	</div>
</div>


<h6 class="title-info">IV CONSULTA PUBLICA DE SEGURIDAD CIUDADANA 2019 CODISEC SANTA ANITA</h6>
<div class="row">
	<div class="col-md-12">
	    <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/IV CONSULTA PUBLICA DE SEGURIDAD CIUDADANA 2019 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">IV CONSULTA PUBLICA DE SEGURIDAD CIUDADANA 2019 CODISEC SANTA ANITA</span></a></li>
	    </ul>
	</div>
</div>



<h6 class="title-info">DIRECTORIO DE LOS INTEGRANTES DEL CODISEC SANTA ANITA - IV TRIMESTRE 2019</h6>
<div class="row">
	<div class="col-md-12">
	    <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/DIRECTORIO DE LOS INTEGRANTES DEL CODISEC SANTA ANITA - IV TRIMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">DIRECTORIO DE LOS INTEGRANTES DEL CODISEC SANTA ANITA - IV TRIMESTRE 2019</span></a></li>
	    </ul>
	</div>
</div>



<h6 class="title-info">CUADRO DE EVALUACIÓN DE LOS INTEGRANTES DEL CODISEC SANTA ANITA - IV TRIMESTRE 2019</h6>
<div class="row">
	<div class="col-md-12">
	    <ul class="table-info">
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/INFORME DE EVALUACION DE LOS INTEGRANTES DEL CODISEC - IV TRIMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">CUADRO DE EVALUACIÓN DE LOS INTEGRANTES DEL CODISEC SANTA ANITA - IV TRIMESTRE 2019</span></a></li>
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/OFICIO PRESENTACION AL CORESEC Y CONASEC  ICA IV TRIMESTRE Y II SEMESTRE DEL 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">OFICIO PRESENTACION AL CORESEC Y CONASEC  ICA IV TRIMESTRE Y II SEMESTRE DEL 2019</span></a></li>
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/INFORME DE CUMPLIMIENTO DE ACTIVIDADES PASC 2019 - IV TRIMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">INFORME DE CUMPLIMIENTO DE ACTIVIDADES PASC 2019 - IV TRIMESTRE 2019</span></a></li>
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/INFORME DE CUMPLIMIENTO DE ACTIVIDADES PASC 2019 - II SEMESTRE 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">INFORME DE CUMPLIMIENTO DE ACTIVIDADES PASC 2019 - II SEMESTRE 2019</span></a></li>
            
            <li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/EVALUACION DE DESEMPEÑO DE LOS INTEGRANTES DEL CODISEC SANTA ANITA CORRESPONDIENTE AL I,II,III Y IV TRIMESTRE DEL 2019.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">EVALUACIÓN DE DESEMPEÑO DE LOS INTEGRANTES DEL CODISEC SANTA ANITA CORRESPONDIENTE AL I,II,III Y IV TRIMESTRE DEL 2019</span></a></li>
	    </ul>
	</div>
</div>


