<h3 class="title-info mt-0">COMITE DISTRITAL DE SEGURIDAD CIUDADANA - SANTA ANITA 2020</h3>

<h6 class="title-info">I Sesión Ordinaria del CODISEC Santa Anita 2020</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/I SESION ORDINARIA DEL CODISEC SANTA ANITA 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">I Sesión Ordinaria del CODISEC Santa Anita 2020</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE INSTALACION, JURAMENTACION Y RENOVACION DE COMPROMISO DE LOS INTEGRANTES DEL CODISEC SANTA ANITA 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de Instalación del CODISEC, Juramentación y Renovación de Compromiso de los Integrantes del Periodo 2020</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/DESIGNACION DEL ORGANO QUE ASUME LAS FUNCIONES DE LA SECRETARIA TECNICA DEL CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Designación del órgano funcional que asume las funciones de la Secretaria Técnica del CODISEC Santa Anita</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">II Sesión Ordinaria del CODISEC Santa Anita 2020</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/II Sesion Ordinaria del CODISEC Santa Anita 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">II Sesión Ordinaria del CODISEC Santa Anita 2020</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">Cuadro de Evaluación de los Integrantes del CODISEC Santa Anita 2020 - 1er Trimestre 2020</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/Cuadro de Evaluacion de los Integrantes del CODISEC Santa Anita - 1er Trimestre del 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Cuadro de Evaluación de los Integrantes del CODISEC Santa Anita 2020 - 1er Trimestre 2020</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/DIRECTORIO TELEFONICO DE LOS INTEGRANTES CODISEC 1ER TRIMESTRE 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Directorio telefónico de los Integrantes CODISEC 1er Trimestre 2020</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">III Sesión Ordinaria del CODISEC Santa Anita 2020</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
	   		<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/III SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">III SESION ORDINARIA 2020 CODISEC SANTA ANITA</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION ICA 1ER TRIMESTRE 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE APROBACION ICA 1ER TRIMESTRE 2020</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">I CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/I CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">I CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">IV Sesión Ordinaria del CODISEC Santa Anita 2020</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/IV SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">IV SESION ORDINARIA 2020 CODISEC SANTA ANITA</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/PLAN DE ACCION DISTRITAL DE SEGURIDAD CIUDADANA 2020 DEL DISTRITO DE SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">PLAN DE ACCION DISTRITAL DE SEGURIDAD CIUDADANA 2020 DEL DISTRITO DE SANTA ANITA</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE VALIDACION DEL PADSC 2020 SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE VALIDACION DEL PADSC 2020 SANTA ANITA</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">V SESIÓN ORDINARIA DEL CODISEC SANTA ANITA 2020</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/V SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">V SESIÓN ORDINARIA 2020 CODISEC SANTA ANITA</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION ICA 2DO TRIMESTRE 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE APROBACIÓN ICA 2DO TRIMESTRE 2020</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">II CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICIÓN DE CUENTAS 2020 CODISEC SANTA ANITA</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/II CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA 2.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">II CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICIÓN DE CUENTAS 2020 CODISEC SANTA ANITA</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">Diseño Y Formulación de la Propuesta del Padsc 2021 del Distrito de Santa Anita</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/TALLER VIRTUAL DISENO PROPUESTA PADSC 2021.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA TALLER VIRTUAL PARA EL DISEÑO DE LA PROPUESTA DEL PADSC 2021 DEL DISTRITO DE SANTA ANITA</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/TALLER VIRTUAL FORMULACION PADSC 2021.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA TALLER VIRTUAL PARA LA FORMULACIÓN DE LA PROPUESTA DEL PADSC 2021 DEL DISTRITO DE SANTA ANITA</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">VI Sesión Ordinaria del Codisec Santa Anita 2020</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/VI SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">VI SESIÓN ORDINARIA DEL CODISEC SANTA ANITA 2020</span></a></li>
		</ul>
	</div>
</div>

