<h1 class="title-info mt-0">Defensa civil</h1>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/defensa-civil-1.jpg')}" alt="">
</div>
<br/>

<p>
    Proponer y ejecutar el Plan de defensa Civil de la jurisdicción.<br/>
    Realizar las inspecciones técnicas de seguridad ex – post y ex – ante que requiera la Subgerencia de Comercialización y Licencias dentro del procedimiento de emisión de licencias de funcionamiento.<br/>
    Participar en los programas de capacitación del Sistema Nacional de Defensa Civil.<br/>
    Coordinar con el comité de defensa civil del distrito las acciones necesarias para la atención de las poblaciones damnificadas por desastres naturales o de otra índole.<br/>
    Solicitar al área de Fiscalización la ejecución de paralizaciones de obras, de clausura temporales o definitivas, según sea el caso, a inmuebles o establecimientos que presentan alto riesgo y pongan en peligro la seguridad física de los trabajadores, visitantes u otros.<br/>
    Revocar el certificado de seguridad en defensa civil, cuando corresponda.<br/>
    Realizar inspecciones técnicas de seguridad básica de defensa civil, conforme a la normatividad vigente.<br/>
    Coordinar y apoyar a la Subgerencia de Comercialización y Licencias en la fiscalización del cumplimiento de normas técnicas de seguridad en mercados, centros de comercialización, empresas y en todo negocio en general que opera en la jurisdicción.<br/>
    Atender los requerimientos de intervención y pronunciamiento y/o dictamen en asuntos de fiscalización administrativa que la Subgerencia de Serenazgo, Fiscalización y Control, solicita.<br/>
    Realizar programas educativos de defensa civil, programas de simulacro.<br/>
    Formar los Comités de Defensa Civil.<br/>
    Aplicar la normatividad y directivas del Instituto Nacional de Defensa Civil.
</p>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/defensa-civil-2.jpg')}" alt="">
</div>