<h1 class="title-info mt-0">Fiscalización</h1>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/fiscalizacion-1.jpg')}" alt="">
</div>
<br/>

<p>
    Fiscalizar y notificar el incumplimiento de las normas municipales en materia de actividades económicas comerciales, industriales y profesionales, publicidad exterior, comercio informal, espectáculos públicos no deportivos, actividades sociales, transporte en vehículos menores, medio ambiente, seguridad, respeto al orden público, salubridad, defensa civil, urbanismo y otros, en coordinación con las unidades orgánicas competentes y con los organismos y entidades públicas correspondientes.<br/>
    Realizar campañas educativas de difusión e inducción de las disposiciones municipales que establezcan prohibiciones u obligaciones de carácter no tributario en materia de actividades económicas comerciales, industriales y profesionales; publicidad exterior, comercio informal, espectáculos públicos no deportivos, actividades sociales, transporte en vehículos menores, medio ambiente, seguridad, respeto al orden público, salubridad, defensa civil, urbanismo y otros, en coordinación con las unidades orgánicas competentes y con los organismos y entidades públicas correspondientes.<br/>
    Realizar actuaciones previas al seguimiento, evaluación e inspección en forma permanente con el objeto de determinar con carácter preliminar si concurren circunstancias que justifiquen el inicio del procedimiento sancionador.<br/>
    Conducir el procedimiento administrativo sancionador por infracciones de carácter administrativo tanto en la fase instructiva como resolutora.<br/>
    Proponer la modificación del Régimen para la Aplicación de Sanciones Administrativas por infracciones a las diversas disposiciones de competencia municipal, así como el infracciones y Sanciones Administrativas.<br/>
    Emitir resoluciones en primera instancia, en asuntos de su competencia que incluye la atención de solicitudes de levantamiento de Medidas Cautelares.<br/>
    Clausurar establecimientos comerciales que no cumplan con las disposiciones municipales vigentes, condiciones mínimas de seguridad de defensa civil, normas higiénicas sanitarias o que desarrollen actividades prohibidas legalmente<br/>
    Paralizar las obras que no cuenten con la debida autorización según la norma aplicable<br/>
    Derivar a la Subgerencia de Ejecutoria Coactiva expedientes que contengan procedimientos de ejecución coactiva pecuniaria, que resulten de la imposición de sanciones administrativas pecuniarias.
</p>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/fiscalizacion-2.jpg')}" alt="">
</div>