<h1 class="title-info mt-0">Juntas vecinales</h1>

<p>
    Unir, articular y orientar el esfuerzo de auto motivación permanente entre sus integrantes para la organización y funcionamiento efectivo de las Juntas Vecinales de Seguridad Ciudadana.<br/>
    La Gerencia de Seguridad Ciudadana se encarga de la capacitación de los vecinos en las disposiciones elementales y básicas sobre seguridad ciudadana, de los medios y procedimientos preventivos individuales y colectivos de seguridad y de la forma como apoyar y colaborar con la Policía para contribuir a elevar los índices de orden y seguridad de sus respectivas jurisdicciones.<br/>
    Las Juntas Vecinales comprometen a la población para participar activamente con sus autoridades locales y Policía, para solucionar los problemas de su comunidad en materia de seguridad ciudadana.<br/>
    Las Juntas vecinales, la Municipalidad de Santa Anita y la Comisaría del sector desarrollan los patrullajes mixtos para las distintas prevenciones en faltas y delitos.
</p>