<h1 class="title-info mt-0">Transporte</h1>

<p>
    Coordinar la elaboración del Plan Vial del distrito y regular la circulación vehicular.<br/>
    Supervisar y controlar el adecuado funcionamiento del servicio de transporte público especial de pasajeros en vehículos menores, imponiendo las sanciones por incumplimiento de las normas vigentes bajo competencia municipal.<br/>
    Organizar, programar y supervisar el servicio del tránsito público local dentro de la normatividad vigente.<br/>
    Emitir informes técnicos sobre autorización de funcionamiento de playas de estacionamiento público, paraderos de vehículos.<br/>
    Proponer normas que regulen y controlen la circulación de vehículos menores motorizados o no motorizados tales como mototaxis, triciclos y otros de similar naturaleza, las autorizaciones de ruta de los vehículos menores (moto-taxi, etc.), zonas y paraderos.<br/>
    Otorgar Permiso de Operación para prestar el servicio de transporte publico en vehículos menores y demás de acuerdo con lo establecido en la regulación provincial.<br/>
    Organizar la señalización y nomenclatura de vías dentro de la jurisdicción del distrito en coordinación con la Municipalidad Metropolitana de Lima.<br/>
    Instalar, mantener y renovar los sistemas de señalización de tránsito y establecer la nomenclatura de vías en coordinación con la Municipalidad Metropolitana de Lima.<br/>
    Emitir informe técnico sobre las sanciones o multas administrativas por infracciones a las normas municipales.<br/>
    Planificar la colocación de elementos que disminuyan la velocidad de los vehículos, en coordinación con la Municipalidad Metropolitana de Lima.<br/>
    Realizar operativos de control de vehículos, en coordinación con la Paolicía Nacional del Perú y el apoyo de los inspectores de transporte.    
</p>