<h6 class="title-info mt-0">Consulta Pública</h6>

<style>
.archives-directory h6 a{
	display: block;
	width: 100%;
	/* background: #0000001a; */
	padding: 15px 5px;
	border-bottom: 1px solid #00000029;
	color: black;
}
.archives-directory h6 a:after{
    content: "\f107";
    font-family: "FontAwesome";
    font-weight: 900;
    color: #333;
    font-size: 18px;
    position: absolute;
    right: 20px;
}
.archives-directory .list-directorys{
	
}
.archives-directory .list-directorys li{

}
.archives-directory .list-directorys li a{

}
</style>
<div class="panel-group archives-directory" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-1">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-1" aria-expanded="false" aria-controls="collapse2" class="collapsed">I CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-1" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/I CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">I CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>

	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-2">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-2" aria-expanded="false" aria-controls="collapse2" class="collapsed">II CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICIÓN DE CUENTAS 2020 CODISEC SANTA ANITA</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-2" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/II CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA 2.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">II CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICIÓN DE CUENTAS 2020 CODISEC SANTA ANITA</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>
	
	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-3">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-3" aria-expanded="false" aria-controls="collapse2" class="collapsed">III CONSULTA PUBLICA DE SEGURIDAD CIUDADANA Y RENDICIÓN DE CUENTAS 2020 CODISEC SANTA ANITA</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-3" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/III CONSULTA PUBLICA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">III CONSULTA PUBLICA Y RENDICION DE CUENTAS 2020 CODISEC SANTA ANITA</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>
</div>