<h6 class="title-info mt-0">Sesión Ordinaria</h6>

<style>
.archives-directory h6 a{
	display: block;
	width: 100%;
	/* background: #0000001a; */
	padding: 15px 5px;
	border-bottom: 1px solid #00000029;
	color: black;
}
.archives-directory h6 a:after{
    content: "\f107";
    font-family: "FontAwesome";
    font-weight: 900;
    color: #333;
    font-size: 18px;
    position: absolute;
    right: 20px;
}
.archives-directory .list-directorys{
	
}
.archives-directory .list-directorys li{

}
.archives-directory .list-directorys li a{

}
</style>


<div class="panel-group archives-directory" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-1">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-1" aria-expanded="false" aria-controls="collapse2" class="collapsed">I Sesión Ordinaria del CODISEC Santa Anita 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-1" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/I SESION ORDINARIA DEL CODISEC SANTA ANITA 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">I Sesión Ordinaria del CODISEC Santa Anita 2020</span></a></li>
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE INSTALACION, JURAMENTACION Y RENOVACION DE COMPROMISO DE LOS INTEGRANTES DEL CODISEC SANTA ANITA 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de Instalación del CODISEC, Juramentación y Renovación de Compromiso de los Integrantes del Periodo 2020</span></a></li>
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/DESIGNACION DEL ORGANO QUE ASUME LAS FUNCIONES DE LA SECRETARIA TECNICA DEL CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Designación del órgano funcional que asume las funciones de la Secretaria Técnica del CODISEC Santa Anita</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>

	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-2">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-2" aria-expanded="false" aria-controls="collapse2" class="collapsed">II Sesión Ordinaria del CODISEC Santa Anita 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-2" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/II Sesion Ordinaria del CODISEC Santa Anita 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">II Sesión Ordinaria del CODISEC Santa Anita 2020</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>

	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-3">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-3" aria-expanded="false" aria-controls="collapse2" class="collapsed">III Sesión Ordinaria del CODISEC Santa Anita 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-3" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
			   		<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/III SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">III SESION ORDINARIA 2020 CODISEC SANTA ANITA</span></a></li>
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION ICA 1ER TRIMESTRE 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE APROBACION ICA 1ER TRIMESTRE 2020</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>

	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-4">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-4" aria-expanded="false" aria-controls="collapse2" class="collapsed">IV Sesión Ordinaria del CODISEC Santa Anita 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-4" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/IV SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">IV SESION ORDINARIA 2020 CODISEC SANTA ANITA</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>

	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-5">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-5" aria-expanded="false" aria-controls="collapse2" class="collapsed">V SESIÓN ORDINARIA DEL CODISEC SANTA ANITA 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-5" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/V SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">V SESIÓN ORDINARIA 2020 CODISEC SANTA ANITA</span></a></li>
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION ICA 2DO TRIMESTRE 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE APROBACIÓN ICA 2DO TRIMESTRE 2020</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>

	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-6">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-6" aria-expanded="false" aria-controls="collapse2" class="collapsed">VI Sesión Ordinaria del Codisec Santa Anita 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-6" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/VI SESION ORDINARIA 2020 CODISEC SANTA ANITA.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">VI SESIÓN ORDINARIA DEL CODISEC SANTA ANITA 2020</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>
	
	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-7">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-7" aria-expanded="false" aria-controls="collapse2" class="collapsed">VII Sesión Ordinaria del CODISEC Santa Anita 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-7" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/VII SESION ORDINARIA DEL CODISEC SANTA ANITA 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">VII SESIÓN ORDINARIA DEL CODISEC SANTA ANITA 2020</span></a></li>
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE JURAMENTACION DEL NUEVO INTEGRANTE DEL CODISEC SANTA ANITA 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE JURAMENTACIÓN DEL NUEVO INTEGRANTE DEL CODISEC SANTA ANITA 2020</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>
	
	<div class="panel">
	    <div class="panel-heading" role="tab" id="row-sesiones-8">
	        <h6> 
	            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-sesiones-8" aria-expanded="false" aria-controls="collapse2" class="collapsed">VIII Sesión Ordinaria del CODISEC Santa Anita 2020</a> 
	        </h6>
	    </div>
	    <div id="collapse-sesiones-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="row-sesiones-8" aria-expanded="false">
	        <div class="panel-body">
	            <ul class="table-info">
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/VIII SESION ORDINARIA DEL CODISEC SANTA ANITA 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">VIII SESION ORDINARIA DEL CODISEC SANTA ANITA 2020</span></a></li>
					<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION ICA 3ER TRIMESTRE 2020.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">ACTA DE APROBACION ICA 3ER TRIMESTRE 2020</span></a></li>
				</ul>
	        </div>
	    </div>
	</div>
</div>
