<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                        	<h3 class="stitle text-center">Transparencia</h3>
	                        	
	                        	<div th:replace="web/fragments/mini-banner"></div>
	                        	<br/>
	                        	<div class="row">
									<div class="col-md-12">
										<p>La publicación de esta Información tiene por finalidad promover la transparencia de los actos de la Municipalidad Distrital de Santa Anita y regular el derecho fundamental del acceso a la información consagrado en el numeral 5 del Artículo 2° de la Constitución Política del Perú.</p>
										<p>La presente esta Sujeta a la Ley Nº 27806 "Ley de transparencia y acceso a la información pública" y ajustada a los lineamientos de la Directiva N° 004-2008-PCM/SGP.</p>
						        	</div>
								</div>
								
								
								
	                        	<h6 class="title-info">Transferencia de Gestión 2018</h6>
	                        	<div class="row">
                                    <div class="col-md-12">
                                    	<ul class="table-info checklist">
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Acta_Transferencia_2018_1.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de Transferencia 2018_1</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Acta_Transferencia_2018_2.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de Transferencia 2018_2</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Acta_Transferencia_2018_3.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de Transferencia 2018_3</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Acta_transferencia_rendición_cuentas_2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de transferencia de la rendición de cuentas 2018</span></a></li>
											
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Acta_complementaria_cierre_transferencia_2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta complementaria de cierre de transferencia 2018</span></a></li>
										</ul>
                                    </div>
								</div>
								
								<h6 class="title-info">Informe de Rendición de Cuenta 2018</h6>
	                        	<div class="row">
                                    <div class="col-md-12">
                                    	<ul class="table-info checklist">
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/InformeTG Rendicion de Cuentas.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Informe de rendición de cuentas y transferencia 2018</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Informe Ejecutivo.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Informe ejecutivo</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Formato 1.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Formato 1 - Asuntos urgentes de prioritaria atención para garantizar el funcionamiento de los servicios públicos de la nueva gestión</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Formato 2.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Formato 2 - Gestión de capital humano</span></a></li>
											
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Formato 3.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Formato 3 - Archivo central</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Formato 6.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Formato 6 - Listado de las cartas fianzas o de las pólizas de caución otorgadas a favor de la entidad</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Formato 7.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Formato 7 - Situación actual de las inversiones gestionadas en el periodo 2015- 2018</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/transparencia/transparencia2018/Formato 8.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Formato 8 - Expedientes de procesos judiciales, arbitrajes, conciliaciones, procesos internacionales</span></a></li>
										</ul>
                                    </div>
								</div>
								
	                        </div>
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>