<h1 class="title-info mt-0">Comité distrital de seguridad ciudadana - Santa Anita</h1>

<h6 class="title-info">Formularios para descargar</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/instalacion y juramentacion_2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de instalación y juramentación del comité distrital de seguridad ciudadana</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/designacion del ST.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de designación del secretario técnico</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION DEL PLAN LOCAL 2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de aprobación del plan local de seguridad ciudadana</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE DESIGNACION ACTUALIZADO.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de designación del secretario técnico actualizado</span></a></li>
		</ul>
	</div>
</div>

