<h1 class="title-info mt-0">Directorio de integrantes</h1>

<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/INTEGRANTES CODISEC 2018-ACTUALIZADO.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Directorio de los integrantes CODISEC - actualizado</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/INTEGRANTES CODISEC 2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Directorio de los integrantes CODISEC</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/rec.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Recursos financieros</span></a></li>
		</ul>
	</div>
</div>