<h1 class="title-info mt-0">Informe periódico de evaluación de los integrantes del CODISEC</h1>

<h6 class="title-info">V Trimestre</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ed-mininter2.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Evaluación del desempeño del comité - MININTER</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ed-coresec2.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Evaluación del desempeño del comité - CORESEC</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">IV Trimestre</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/Evaluacion IV Trimestre 2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Evaluación del desempeño del comité - CODISEC</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">III Trimestre</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/CUADRO DE EVALUACION0001.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Evaluación del desempeño del comité - CODISEC</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">II Trimestre</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/CUADRO DE EVALUACION DEL CODISEC.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Evaluación del desempeño del comité - CODISEC</span></a></li>
		</ul>
	</div>
</div>

<h6 class="title-info">I Trimestre</h6>
<div class="row">
	<div class="col-md-12">
	   <ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/EVALUACION DEL CODISEC MININTER.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Evaluación del desempeño del comité - MININTER</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/EVALUACION DEL CODISEC CORESEC.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Evaluación del desempeño del comité - CORESEC</span></a></li>
		</ul>
	</div>
</div>