<h1 class="title-info mt-0">Sesiones ordinarias y extraordinarias del CODISEC</h1>

<h6 class="title-info">Acuerdos de sesión del mes de Diciembre</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Aprobación por parte de los miembros del Comité Local del "Proyecto de Avance del Plan Local de Seguridad Ciudadana y Convivencia Social 2019"</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Aprobación por parte de los miembros del Comité Local del "Informe de Cumplimiento de las Actividades" del II Semestre</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Remisión del Proyecto del avance del Plan Local de Seguridad Ciudadana 2019 e Informe de Actividades de Cumplimiento del II Semestre a las instancias correspondientes del CORESEC.LM y el CONASEC del Ministerio del Interior, a fin de dar cumplimiento a lo establecido a las normativas vigentes</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion11-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Diciembre</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">Acuerdos de sesión del mes de Noviembre</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Que los integrantes del comité Local de Seguridad Ciudadana en la brevedad posible nos envié su información para el avance del Plan Local de Seguridad Ciudadana 2019</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Que para el día 10 de Diciembre del 2018 se realizará la IV Consulta Pública de Seguridad Ciudadana en las instalaciones de la Municipalidad de Santa Anita, por lo que se pide la participación de todos los miembros participantes, además de la rendición de cuentas de parte de los comisarios del sector</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Que el día 12 de Diciembre del 2018 se realizara la última reunión ordinaria con los integrantes del Comité Local de Seguridad Ciudadana, en donde se aprobara el avance del Plan Local de Seguridad Ciudadana y el Informe del Actividades del II Semestre, y remitirlo a las instancias correspondientes. 4. La Sra. Alcaldesa Leonor Chumbimune Cajahuaringal dará en uso de sesión 02 casetas para el proyecto multisectorial del Programa "Barrio Seguro" en la zona de Huáscar, estando comprometido la comisaria de Santa Anita y otras instituciones para beneficio de la comunidad de la zona</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion10-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Noviembre</span></a></li>
		</ul>
	</div>
</div>


<h6 class="title-info">Acuerdos de sesión del mes de Octubre</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local de Seguridad Ciudadana, acuerdan en el mes de Noviembre del 2018 que se efectuara la recopilación de información que fue solicitada mediante Oficio a cada institución para la elaboración del avance del Plan Local de Seguridad Ciudadana y Convivencia Social 2019</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion9-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Octubre</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Septiembre</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local de Seguridad Ciudadana, acuerdan para el día 26 del mes de Septiembre del 2018, la III Consulta Pública de Seguridad Ciudadana, donde los Comisarios de Villa Hermosa y Santa Anita, harán su rendición de cuenta del III Trimestre del presente año</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local de Seguridad Ciudadana, acuerdan que el día 29 del mes de Septiembre del 2018, se realizara el Operativo Conjunto contra la Trata de Personas, con apoyo de las diversas instituciones como: DEPINCRI PNP, COMISARIA DE SANTA ANITA, SUBPREFECTURA y la Gerencia de Seguridad Ciudadana</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">La Presidencia de CODISEC, la Sra. Leonor CHUMBIMUNE CAJAHUARINGA Alcaldesa del Distrito de Santa Anita, quien se compromete agilizar la creación de la Central de Emergencia Mujer (CEM) en el Distrito de Santa Anita</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion8-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Septiembre</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Agosto</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local de Seguridad Ciudadana, acuerdan una reunión para el día jueves 06 de Septiembre del 2018 en el Local Comunal del AA.HH. Huáscar, para tratar el tema del Programa "Barrio Seguro"</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Se acuerda poner énfasis a la realización de las actividades pendientes para el mes de Septiembre</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion7-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Agosto</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Julio</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, acuerdan por decisión unánime aprobar el ICA - I Semestre para su remisión a las instancias superiores</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, acuerdan por decisión unánime, realizar el operativo conjunto contra la trata de personas, el día 25 de agosto, y la hora a realizarse se designara entre los comisarios y secretarios técnicos</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion6-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Julio</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Junio</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, acuerdan por decisión unánime aprobar la designación del nuevo Secretario Técnico, para el periodo que resta en el presente año</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">El secretario Técnico, coordinara con el Jefe de Transporte - MDSA, la solución del congestionamiento vehicular y prevenir los accidentes de tránsito, en los puntos indicados por los representantes de los Bomberos y Poder Judicial</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">El secretario Técnico, coordinara con el Gerente de Obras y Desarrollo Urbano, para dar seguimiento a la gente de CALI DA, con el fin de regular los trabajos que vienen realizando en el distrito</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden que la Consulta Pública se realizara el día Jueves 28 de Junio a las 18:00hrs</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion5-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Julio</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Mayo</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, acuerdan por decisión unánime aprobar nuevo mapa de patrullaje integrado del distrito de Santa Anita</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, acuerdan por decisión unánime aprobar que se encargaran de realizar la orden operaciones, y establecer la fecha, hora y los puntos a intervenir, será determinado por los Comisarios de Cia. Santa Anita, Cia Villa Hermosa, DEPINCRI, y el Gerente de Seguridad Ciudadana</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden que para la próxima semana estarán entregando su cronograma, indicando las horas que disponen, para capacitar a las escuelas seguras</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion4-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Mayo</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Abril</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden aprobar los Planes de Patrullaje Integrado de la Cia. Santa Anita y Cia. Villa Hermosa</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden aprobar el Plan de Recuperación de Espacios Públicos, ubicado en la Loza Deportiva de Manuel C. de la Torre</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden aprobar el Plan de Programas de Prevención Frente a la Inseguridad Ciudadana, siendo la conformación como mínimo de DIEZ (10) Juntas Vecinales, DOS (02) Red de Cooperantes y SEIS (06) BAPES</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden aprobar el Plan Local de Seguridad Ciudadana y Convivencia Social 2018, del cual se incorporó la Actividad N° 4 - Ejecutar Operativos Conjuntos Frente a la Trata de Personas y la Actividad N°13 Ejecutar Programa Preventivo para Erradicar la Violencia Familiar Contra las Mujeres y los Integrantes del Grupo Familiar</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden aprobar el ICA del 1 ER TRIMESTRE, el cual se entregará a la instancia correspondiente que son el CORESEC y MININTER respectivamente</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion3-2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Abril</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Marzo</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local, acuerdan que se juramentara a los nuevos miembros en la próxima reunión</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local por decisión unánime, acuerdan incorporar la Actividad de Operativos Conjuntos Contra la Trata de Personas</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, acuerdan en participar en el Operativo Conjunto Contra la Trata de Personas a realizarse el 23 de Marzo</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del comité local, por decisión unánime deciden que la Consulta Pública se realizara el día Miércoles 28 de Marzo a las 18:00hrs</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion2-18.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Marzo</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION DEL PLAN LOCAL 2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de aprobación del plan local de seguridad ciudadana actualizado</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Febrero</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local, acuerdan entregar las propuestas de sus actividades para la próxima reunión</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local, acuerdan por decisión unánime aprobar la remisión del Plan Local de Seguridad Ciudadana y Convivencia Social 2018</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Los miembros del Comité Local, por decisión unánime deciden que la próxima reunión se realice el día Miércoles 21 de Marzo a las 10:00hrs</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/sesion1-18.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de sesión del mes de Febrero</span></a></li>
		</ul>
	</div>
</div>



<h6 class="title-info">Acuerdos de sesión del mes de Enero</h6>
<div class="row">
	<div class="col-md-12">

		<ul class="checklist table-info table-info-border-none">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Se acuerda aprobar por unanimidad la Instalación y Juramentación del Comité Distrital de Seguridad Ciudadana y Convivencia Social 2018, acto seguido se procede a la juramentación de la Presidenta y demás miembros del CODISEC, dando cumplimiento a lo prescrito en la Ley N° 27933 - Ley del Sistema Nacional de Seguridad Ciudadana y su reglamento</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Designación del Cmdte PNP ® OSCAR FELIPE MORENO TUPIA como Secretario Técnico del CODISEC para el periodo 2018</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">Aprobación del Plan Local de Seguridad Ciudadana y Convivencia Social 2018, contando con la presencia de todos los miembros integrantes del Comité Distrital de Seguridad Ciudadana</span>
			</li>
		</ul>
		<ul class="table-info">
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/instalacion y juramentacion_2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de instalación y juramentación del CODISEC</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/designacion del ST.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de designación del secretario técnico</span></a></li>
			<li><a th:href=" ${@helper.getServerApiRecursos('codisec/pdf/ACTA DE APROBACION DEL PLAN LOCAL 2018.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Acta de aprobación del plan local de seguridad ciudadana</span></a></li>
		</ul>
	</div>
</div>