<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="images/fav.png" type="image/png">
		<title>Municipalidad de Santa Anita</title>
		<!-- CSS Files -->
		<link href="cdn/css/custom.css" rel="stylesheet">
		<link href="cdn/css/responsive.css" rel="stylesheet">
		<link href="cdn/css/color.css" rel="stylesheet">
		<link href="cdn/css/all.css" rel="stylesheet">
		<link href="cdn/vendors/carousel/css/owl.carousel.min.css" rel="stylesheet">
		<link href="cdn/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="cdn/vendors/prettyPhoto/css/prettyPhoto.css" rel="stylesheet">
		<link href="cdn/vendors/slick/css/slick.css" rel="stylesheet">
		
		
		<link rel="stylesheet" href="cdn/vendors/rev-slider/css/settings.css"  type='text/css' media='all' />
		<link rel="stylesheet" href="cdn/vendors/rev-slider/css/layers.css"  type='text/css' media='all' />
		<link rel="stylesheet" href="cdn/vendors/rev-slider/css/navigation.css"  type='text/css' media='all' />

		<!-- JS --> 
		<script src="cdn/vendors/jquery/jquery.min.js"></script> 
		<script src="cdn/vendors/bootstrap/jsc/bootstrap.min.js"></script> 
		
		
	</head>
	
	<body class="demo-video">
		<div class="wrapper"> 
			<div th:replace="layouts/principal/header :: MiHeader"></div>
			<div layout:fragment="content"></div>
			<div th:replace="layouts/principal/footer :: miFooter"></div>
		</div>
		
		<nav id="sidebar">
		  <div id="dismiss"> <i class="fas fa-arrow-right"></i> </div>
		  <div class="sidebar-header"> <img src="images/footer-logo2.png" alt=""> </div>
		  <ul class="list-unstyled components">
		    <li class="active"> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
		      <ul class="collapse list-unstyled" id="homeSubmenu">
		        <li><a href="index.html">Default Home Page</a></li>
		        <li><a href="home-two.html">Home Page Two</a></li>
		        <li><a href="home-three.html">Home Page Three</a></li>
		      </ul>
		    </li>
		    <li> <a href="aboutus.html">About Us</a> </li>
		    <li> <a href="departments.html">Departments</a> </li>
		    <li> <a href="news-full.html">News</a> </li>
		    <li> <a href="event.html">Events</a> </li>
		    <li> <a href="explore-city.html">Explore City</a> </li>
		    <li> <a href="services.html">Services</a> </li>
		    <li> <a href="contact.html">Contact</a> </li>
		  </ul>
		</nav>
		<div class="overlay"></div>
		
		
		
		
		<script src="cdn/vendors/carousel/jsc/owl.carousel.min.js"></script> 
		<script src="cdn/vendors/prettyPhoto/jsc/jquery.prettyPhoto.js"></script> 
		<script src="cdn/vendors/slick/jsc/slick.min.js"></script> 
		<script src="cdn/jsc/custom.js"></script> 
	</body>
</html>