<header th:fragment="MiHeader" class="wf100 header-two">
    <div id="closetopbar" class="topbar wf100">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7">
            <p>Bienvenido a la <a href="#">Municipalidad de Santa Anita</a></p>
          </div>
          <div class="col-md-6 col-sm-5"> <a id="closebtn" href="#" class="cross-btn"><i class="fas fa-times"></i></a> <a href="#" class="become-vol">Municipalidad de Santa Anita</a> </div>
        </div>
      </div>
    </div>
    <div class="h3-logo-row wf100">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="h3-logo text-left"> 
              <a href="#"><img src="cdn/images/logo_munisantanita.png" alt="" style="width: 190px;"></a>
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <ul class="header-contact">
              <li><span>Toll Free:</span> <strong>0800 12345</strong></li>
              <li class="city-exp"> <i class="fas fa-street-view"></i> <strong>City<br>
                Explore</strong> </li>
              <li class="header-weather"> <i class="fas fa-cloud-sun"></i> 24°C / 75°F </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="h3-navbar wf100 header-image">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="index.html">Default Home Page</a></li>
                  <li><a href="home-two.html">Home Page Two</a></li>
                  <li><a href="home-three.html">Home Page Three</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="aboutus.html">About One</a></li>
                  <li><a href="aboutus-two.html">About Two</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="departments.html">Departments One</a></li>
                  <li><a href="department-two.html">Departments Two</a></li>
                  <li><a href="department-single.html">Departments Details</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="news.html">News Grid</a></li>
                  <li><a href="news-full.html">News Full</a></li>
                  <li><a href="news-two.html">News Style Two</a></li>
                  <li><a href="news-three.html">News Style Three</a></li>
                  <li><a href="news-single.html">News Single</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="event.html">Events</a></li>
                  <li><a href="event-listing.html">Event Listing</a></li>
                  <li><a href="event-listing-two.html">Event Listing Two</a></li>
                  <li><a href="event-single.html">Event Single</a></li>
                </ul>
              </li>
              <li><a href="explore-city.html">Explore City</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <a href="#">Services</a>
                    <ul class="sub-menu">
                      <li><a href="services.html">Services</a></li>
                      <li><a href="services-two.html">Services Two</a></li>
                      <li><a href="services-single.html">Services Single</a></li>
                    </ul>
                  </li>
                  <li> <a href="#">Causes</a>
                    <ul class="sub-menu">
                      <li><a href="causes.html">Causes Grid</a></li>
                      <li><a href="causes-list.html">Causes List</a></li>
                      <li><a href="causes-single.html">Causes Single</a></li>
                    </ul>
                  </li>
                  <li> <a href="#">Team</a>
                    <ul class="sub-menu">
                      <li><a href="team.html">Team</a></li>
                      <li><a href="team-two.html">Team Two</a></li>
                      <li><a href="team-three.html">Team Three</a></li>
                      <li><a href="team-single.html">Team Single</a></li>
                    </ul>
                  </li>
                  <li> <a href="#">Gallery</a>
                    <ul class="sub-menu">
                      <li><a href="gallery-grid.html">Gallery Grid</a></li>
                      <li><a href="gallery-classic.html">Gallery Classic</a></li>
                      <li><a href="gallery-modern.html">Gallery Modern</a></li>
                    </ul>
                  </li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                  <li><a href="donation.html">Donation</a></li>
                  <li><a href="myaccount.html">My Account</a></li>
                  <li><a href="page404.html">Page 404</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="contact.html">Contact One</a></li>
                  <li><a href="contact-two.html">Contact Two</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-right">
              <li class="search-form">
                <form class="navbar-form">
                  <input type="text" class="form-control" placeholder="Search" value="Buscar...">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="h3-navbar wf100 header-video">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-left">
            <a href="#"><img src="cdn/images/logo_munisantanita_transparent.png" alt="" style="width: 190px;"></a>
          </div>
          <div class="navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="index.html">Default Home Page</a></li>
                  <li><a href="home-two.html">Home Page Two</a></li>
                  <li><a href="home-three.html">Home Page Three</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="aboutus.html">About One</a></li>
                  <li><a href="aboutus-two.html">About Two</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="departments.html">Departments One</a></li>
                  <li><a href="department-two.html">Departments Two</a></li>
                  <li><a href="department-single.html">Departments Details</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="news.html">News Grid</a></li>
                  <li><a href="news-full.html">News Full</a></li>
                  <li><a href="news-two.html">News Style Two</a></li>
                  <li><a href="news-three.html">News Style Three</a></li>
                  <li><a href="news-single.html">News Single</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="event.html">Events</a></li>
                  <li><a href="event-listing.html">Event Listing</a></li>
                  <li><a href="event-listing-two.html">Event Listing Two</a></li>
                  <li><a href="event-single.html">Event Single</a></li>
                </ul>
              </li>
              <li><a href="explore-city.html">Explore City</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <a href="#">Services</a>
                    <ul class="sub-menu">
                      <li><a href="services.html">Services</a></li>
                      <li><a href="services-two.html">Services Two</a></li>
                      <li><a href="services-single.html">Services Single</a></li>
                    </ul>
                  </li>
                  <li> <a href="#">Causes</a>
                    <ul class="sub-menu">
                      <li><a href="causes.html">Causes Grid</a></li>
                      <li><a href="causes-list.html">Causes List</a></li>
                      <li><a href="causes-single.html">Causes Single</a></li>
                    </ul>
                  </li>
                  <li> <a href="#">Team</a>
                    <ul class="sub-menu">
                      <li><a href="team.html">Team</a></li>
                      <li><a href="team-two.html">Team Two</a></li>
                      <li><a href="team-three.html">Team Three</a></li>
                      <li><a href="team-single.html">Team Single</a></li>
                    </ul>
                  </li>
                  <li> <a href="#">Gallery</a>
                    <ul class="sub-menu">
                      <li><a href="gallery-grid.html">Gallery Grid</a></li>
                      <li><a href="gallery-classic.html">Gallery Classic</a></li>
                      <li><a href="gallery-modern.html">Gallery Modern</a></li>
                    </ul>
                  </li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                  <li><a href="donation.html">Donation</a></li>
                  <li><a href="myaccount.html">My Account</a></li>
                  <li><a href="page404.html">Page 404</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="contact.html">Contact One</a></li>
                  <li><a href="contact-two.html">Contact Two</a></li>
                </ul>
              </li>
            </ul>
            
          </div>
        </nav>
      </div>
    </div>
</header>
