<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		<section class="wf100 subheader mt-95">
            <div class="container">
               <h2>Blanco</h2>
               <ul>
                  <li> <a href="/">Inicio</a> </li>
               </ul>
            </div>
         </section>
         <!--<div th:fragment="fragment/banner"></div>-->
         <div class="main-content p80">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
         					<h3>Mayli</h3>
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>