<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           	<h3 class="stitle text-center">Matrimonio Civil</h3>
	                           	<h6  class="title-info text-center">Subgerencia de Atenci&oacute;n al Ciudadano y Gesti&oacute;n Documentaria</h6>

								<div th:replace="web/fragments/mini-banner"></div>
								
								<h6  class="title-info">Requisitos para contraer Matrimonio Civil</h6>
								<h6  class="title-info">A) Mayores de edad</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Solicitud matrimonial:</strong> Formato gratuito entregado en Plataforma de Atenci&oacute;n.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Acta de nacimiento:</strong> Original (no mas de 3 meses de antiguedad).</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Acta de nacimiento:</strong> Original (no mas de 3 meses de antiguedad).</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Declaraci&oacute;n jurada de domicilio:</strong> De cada uno de los contrayentes del lugar donde radica, uno de los contrayentes debe residir en el distrito.</span>
                                       		</li>
                                       		
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Certificado de salud pre-nupcial del centro medico municipal:</strong> Precio pago en caja.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Constancia de solteria:</strong> De los contrayentes, emitido por RENIEC.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>02 TESTIGOS:</strong> Copia autenticada por los fedatarios de la Municipalidad del DNI, Carnet de Extranjeria o Pasaporte vigente de ser el caso de 02 personas mayores de edad que los conozcan mas de 3 a&ntilde;os, NO Familiares.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Aviso matrimonial (EDICTO):</strong> Se entrega en esta oficina, previa presentaci&oacute;n de todos los requisitos, para ser publicados en los diarios de mayor circulaci&oacute;n.</span>
                                       		</li>
                                       </ul>
                                    </div>
								</div>
								
								<h6  class="title-info">B) Menores de edad</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Solicitud matrimonial:</strong> Formato gratuito entregado en Plataforma de Atenci&oacute;n.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Acta de nacimiento:</strong> Original (no mas de 3 meses de antiguedad).</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Documentos de identidad:</strong> En fotocopia y debidamente autenticado por el fedatario de la municipalidad (Presentar Original).</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Declaraci&oacute;n jurada de domicilio:</strong> De cada uno de los contrayentes del lugar donde radica, uno de los contrayentes debe residir en el distrito.</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Certificado de salud pre-nupcial del centro medico municipal:</strong> Precio pago en caja.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Constancia de solteria:</strong> De los contrayentes, emitido por RENIEC.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>02 TESTIGOS:</strong> Copia autenticada por los fedatarios de la Municipalidad del DNI, Carnet de Extranjeria o Pasaporte vigente de ser el caso de 02 personas mayores de edad que los conozcan mas de 3 a&ntilde;os, NO Familiares.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text"><strong>Aviso matrimonial (EDICTO):</strong> Se entrega en esta oficina, previa presentaci&oacute;n de todos los requisitos, para ser publicados en los diarios de mayor circulaci&oacute;n.</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Dispensa del juzgado de familia, con Autorizaci&oacute;n de sus padres</span>
                                       		</li>
                                       </ul>
                                    </div>
								</div>

								
								<h6  class="title-info">C) Viudos</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Solicitud matrimonial:</strong> Formato gratuito entregado en Plataforma de Atenci&oacute;n.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Acta de nacimiento:</strong> Original (no mas de 3 meses de antiguedad).</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Documentos de identidad:</strong> En fotocopia y debidamente autenticado por el fedatario de la municipalidad (Presentar Original).</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Declaraci&oacute;n jurada de domicilio:</strong> De cada uno de los contrayentes del lugar donde radica, uno de los contrayentes debe residir en el distrito.</span>
											</li>
											
											
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Certificado de salud pre-nupcial del centro medico municipal:</strong> Precio pago en caja.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>02 TESTIGOS:</strong> Copia autenticada por los fedatarios de la Municipalidad del DNI, Carnet de Extranjeria o Pasaporte vigente de ser el caso de 02 personas mayores de edad que los conozcan mas de 3 a&ntilde;os, NO Familiares.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Aviso matrimonial (EDICTO):</strong> Se entrega en esta oficina, previa presentaci&oacute;n de todos los requisitos, para ser publicados en los diarios de mayor circulaci&oacute;n.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text">Partida de Matrimonio anterior (Original)</span>
											</li>
											
											
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text">Partida de defunci&oacute;n del c&oacute;nyuge anterior (Original)</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text">En caso de la viuda, debe haber transcurrido por lo menos 300 d&iacute;as de la muerte del c&oacute;nyuge, salvo presentaci&oacute;n de certificado medico negativo de embarazo expedido por el Ministerio de Salud, el cual dispensara el plazo establecido, conforme lo previsto en el Art.-243 del C&oacute;digo Civil.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text">Declaraci&oacute;n jurada notarial de no administrar bienes de hijos menores.</span>
											</li>
                                       </ul>
                                    </div>
								</div>
								
								<h6  class="title-info">D) Divorciados</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Solicitud matrimonial:</strong> Formato gratuito entregado en Plataforma de Atenci&oacute;n.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Acta de nacimiento:</strong> Original (no mas de 3 meses de antiguedad).</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Documentos de identidad:</strong> En fotocopia y debidamente autenticado por el fedatario de la municipalidad (Presentar Original).</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Declaraci&oacute;n jurada de domicilio:</strong> De cada uno de los contrayentes del lugar donde radica, uno de los contrayentes debe residir en el distrito.</span>
											</li>
											
											
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Certificado de salud pre-nupcial del centro medico municipal:</strong> Precio pago en caja.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>02 TESTIGOS:</strong> Copia autenticada por los fedatarios de la Municipalidad del DNI, Carnet de Extranjeria o Pasaporte vigente de ser el caso de 02 personas mayores de edad que los conozcan mas de 3 a&ntilde;os, NO Familiares.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text"><strong>Aviso matrimonial (EDICTO):</strong> Se entrega en esta oficina, previa presentaci&oacute;n de todos los requisitos, para ser publicados en los diarios de mayor circulaci&oacute;n.</span>
											</li>
											<li>
												<span class="table-item-ico left"><i class="fas fa-check"></i></span>
												<span class="table-item-text">Partida de Matrimonio con Anotaci&oacute;n Marginal del Divorcio.</span>
											</li>
											
											
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text">En caso de la mujer divorciada, deben haber transcurrido por lo menos 300 d&iacute;as de la disoluci&oacute;n matrimonial, salvo dispensa judicial y certificado medico negativo de embarazo, conforme lo previsto en el Art. 243, inciso 3 del C&oacute;digo Civil</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text">Declaraci&oacute;n Jurada con firma legalizada de no administrar bienes de hijos menores.</span>
											</li>
                                       </ul>
                                    </div>
								</div>
								
								<h6  class="title-info">E) Extranjeros</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>Solicitud matrimonial:</strong> Formato gratuito entregado en Plataforma de Atenci&oacute;n.</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>Acta de nacimiento:</strong> Original (no mas de 3 meses de antiguedad).</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>Documentos de identidad:</strong> En fotocopia y debidamente autenticado por el fedatario de la municipalidad (Presentar Original).</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>Declaraci&oacute;n jurada de domicilio:</strong> De cada uno de los contrayentes del lugar donde radica, uno de los contrayentes debe residir en el distrito.</span>
											</li>
											
											
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>Certificado de salud pre-nupcial del centro medico municipal:</strong> Precio pago en caja.</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>Constancia de solteria:</strong> De los contrayentes, emitido por RENIEC.</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>02 TESTIGOS:</strong> Copia autenticada por los fedatarios de la Municipalidad del DNI, Carnet de Extranjeria o Pasaporte vigente de ser el caso de 02 personas mayores de edad que los conozcan mas de 3 a&ntilde;os, NO Familiares.</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text"><strong>Aviso matrimonial (EDICTO):</strong> Se entrega en esta oficina, previa presentaci&oacute;n de todos los requisitos, para ser publicados en los diarios de mayor circulaci&oacute;n.</span>
											</li>
                                       		
                                       		
                                       		<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text">Partida de nacimiento original y/o Certificado de Naturalizaci&oacute;n, seg&uacute;n corresponda.</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text">Certificado de Solteria o Cualquier otro documento que acredite su estado civil de soltero (Original).</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text">Copia de Pasaporte o Carnet de Extranjeria vigente, autenticado por fedatario municipal.</span>
											</li>
											<li>
											    <span class="table-item-ico left"><i class="fas fa-check"></i></span>
											    <span class="table-item-text">Declaraci&oacute;n Jurada de NO presentar antecedentes penales.</span>
											</li>
                                       </ul>
                                       <p><strong>NOTA:</strong> Todos los documentos deben ser legalizados en el consulado del Per&uacute; en el pa&iacute;s de origen del contrayente, y las mismas deben ser traducidas al idioma castellano por un Traductor Oficial y Visados por el Ministerio de Relaciones Exteriores en el Per&uacute; o apostillado</p>
                                    </div>
								</div>
								
								<h6  class="title-info">F) Mienbros de las fuerzas armadas y/o policiales</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li><i class="fas fa-check"></i> Constancia de Solteria expedido por su superior inmediato o por el departamento de Personal de su Instituci&oacute;n</li>
                                       </ul>
                                    </div>
								</div>
								
								<h6 class="title-info">Bases para descargar de matrimonio civil</h6>
								<div class="row">
									<div class="col-md-12">
										<ul class="table-info">
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Matrimonio_Civil/djdomicilio.odt')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaraci&oacute;n jurada de domicilio</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Matrimonio_Civil/djsolteria.odt')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaraci&oacute;n jurada de solteria</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Matrimonio_Civil/smatrimonial.odt')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Solicitud matrimonial</span></a></li>
										</ul>
				                     </div>
								</div>
								
	                           
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>