<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
	
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           <h3 class="stitle text-center">Defensoría Municipal del Niño y del Adolecente (DEMUNA)</h3>

								<div class="row">
									<div class="col-md-12">
										<p>La Defensoráa Municipal del Niño y del Adolescente (DEMUNA), es un servicio encargado de proteger y promover los derechos de los niños y adolescentes. Desde 1997 está considerada en la Ley Orgánica de Municipalidades como una funcián de los gobiernos locales.</p>
										<p>En la municipalidad de Santa Anita, la DEMUNA, depende funcionalmente de la Sub Gerencia de Desarrollo Humano, Inclusián Social y OMAPED.</p>
						        	</div>
								</div>
								
								<div th:replace="web/fragments/mini-banner"></div>
								
								<h6  class="title-info">Servicios</h6>
								<div class="row">
									<div class="col-md-12">
										<p><strong>Conciliación Extrajudicial.-</strong> En la Conciliación Extrajudicial el defensor promueve el acuerdo voluntario entre las partes sobre:</p>
										<ul class="checklist">
										   <li class="row">
										   		<div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Alimentos</div>
										   		<div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Tenencia</div>
										   		<div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Régimen de Visitas</div>
										   </li>
										</ul>
										
										<p><strong>Asesoría Psicológica Permanente.-</strong> Cuando una persona atraviesa una etapa de intenso dolor anímico o tiene cualquier problema emocional que dificultad su rutina cotidiana, entonces, es muy importante solicitar ayuda psicológica.</p>
										
										<p><strong>Actividades con la población</strong> </p>
										
										<ul class="checklist">
										   <li class="row">
										   		<div class="col-md-4 col-sm-3 col-xs-12"><i class="fas fa-check"></i> Campañas de asesoría legal</div>
										   		<div class="col-md-4 col-sm-3 col-xs-12"><i class="fas fa-check"></i> Campañas de registro de identidad</div>
										   		<div class="col-md-4 col-sm-3 col-xs-12"><i class="fas fa-check"></i> Campañas promocionales</div>
										   		<div class="col-md-4 col-sm-3 col-xs-12"><i class="fas fa-check"></i> Actividades preventivas</div>
										   </li>
										</ul>
									</div>
								</div>
								
								
	                           
								<div class="row">
                                    <div class="col-md-12">
                                       <div class="rel-box">
                                          	<div class="row">
                                          		<div class="col-md-6 col-sm-6 informatin-card">
                                          			<h6>Dirección:</h6>
                                          			<div>Funciona en el Centro de Desarrollo Para la Mujer (Casa de la Mujer)</div>
                                          			<div>Jr. San Isidro Cuadra 2 S/N Urb. Residencial Risso (Av. Los Virreyes, altura del paradero Botica Carrión)</div>
                                          		</div>
                                          		<div class="col-md-6 col-sm-6 informatin-card">
                                          			<h6>Horario de atención:</h6>
                                          			<div>Lunes a Viernes de 8:00 a 01:00 PM y de 2:00 a 4:00 PM</div>
                                          			<div>Teléfono: (01) 343-0366</div>
                                          		</div>
                                          	</div>
                                       </div>
                                    </div>
								</div>
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>