<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           	<h3 class="stitle text-center">Jefatura de Asuntos Jurídicos</h3>
	                           	<h6  class="title-info text-center">Diagrama de divorcios</h6>
	                           	
								<div th:replace="web/fragments/mini-banner"></div>
	                           	
	                           	<h6  class="title-info text-center">Procedimiento no contencioso de separación convencional y divorcio ulterior ante municipalidades</h6>
								
								
								<h6 class="title-info">Base legal para descargar</h6>
								<div class="row">
									<div class="col-md-12">
										<ul class="table-info">
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/Ley29227.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Ley N° 29227</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/DS_009_2008_JUS.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Decreto Supremo N° 009-2008-JUS (Reglamento)</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/RD269_2009_JUS_DNJ.pdf')} "><span class="table-item-ico left"><i class="ico file-pdf"></i></span><span class="table-item-text">Resolucion Directoral N° 269-2009-JUS-DNJ</span></a></li>
										</ul>
				                     </div>
								</div>
								
								<h6 class="title-info">Formatos para descargar</h6>
								<div class="row">
									<div class="col-md-12">
										<ul class="table-info">
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/formatoSeparacion.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Solicitud separación convencional de conformidad con la ley N° 29227 y D.S. 009-2008-JUS</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/declaracionJuradaCarecer.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaración jurada de carecer de bienes sujetos al regimen de sociedad de gananciales</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/declaracionJuradaNoHijos.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaración jurada de no tener hijos menores de edad o mayores con incapacidad</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/declaracionJuradaDomicilioConyugal.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaración jurada de ultimo domicilio conyugal</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/solicitudDivorcioUterino.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Dolicito divorcio ulterior de conformidad con la ley Nº 29227 y D.S. 009-2008-JUS</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/solicitudCursarOficio.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Dolicitud de cursar oficios</span></a></li>
										</ul>
				                     </div>
								</div>
								
								<h6 class="title-info">Formatos con apoderado para descargar</h6>
								<div class="row">
									<div class="col-md-12">
										<ul class="table-info">
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/as1.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Solicitud separación convencional de conformidad con la ley N° 29227 y D.S. 009-2008-JUS</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/as2.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaración jurada de carecer de bienes sujetos al regimen de sociedad de gananciales</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/as3.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaración jurada de no tener hijos menores de edad o mayores con incapacidad</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/as4.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Declaración jurada de ultimo domicilio conyugal</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/as5.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Solicito divorcio ulterior de conformidad con la ley N° 29227 y D.S. 009-2008-JUS</span></a></li>
											<li><a th:href=" ${@helper.getServerApiRecursos('pdf/Divorcio_Rapido/as6.doc')} "><span class="table-item-ico left"><i class="ico file-word"></i></span><span class="table-item-text">Solicitud de cursar oficios</span></a></li>
										</ul>
				                     </div>
								</div>
								
								
								
								
								
								<h6  class="title-info">¿Quienes pueden acogerse al procedimiento de Separación convencional y Divorcio Ulterior en la Municipalidad Distrital de Santa Anita?</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Aquellos que han contraído Matrimonio en el distrito.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Aquellos en que su último domicilio conyugal, ha sido dentro del distrito.</span>
                                       		</li>
                                       </ul>
                                    </div>
								</div>
								
								<h6  class="title-info">Ley N° 29227, ley que regula el procedimiento no contencioso separación convencional</h6>
								<h6  class="title-info">1) Requisitos Generales</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">
                                       				Solicitud por escrito que exprese de manera indubitable la decisión de separarse, dirigida al Alcalde de la jurisdicción, señalando nombre, documento de identidad y el último domicilio conyugal, con la firma y huella digital de cada uno de los cónyuges.<br>
                                       				En dicha solicitud, se deberá constar además, la indicación de si los cónyuges son analfabetos, no pueden firmar, son ciegos o adolecen de otra discapacidad, en cuyo caso se procederá mediante firma a ruego, sin perjuicio de que impriman su huella digital o grafía, de ser el caso.
												</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Copias simples y legibles de los documentos de identidad de ambos cónyuges.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Copia certificada del Acta o de la Partida de matrimonio, expedida dentro de los tres meses anteriores a la fecha de presentación de la solicitud.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Declaración jurada del último domicilio conyugal de ser el caso, suscrita obligatoriamente por ambos cónyuges.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Recibo de pago de la tasa  S/.- 163.08</span>
                                       		</li>
                                       </ul>
                                    </div>
								</div>
								
								<h6  class="title-info">2) Requisitos Relacionados con los Hijos</h6>
								<div class="row">
                                    <div class="col-md-12">
                                    	<span><strong>En caso de no tener hijos :</strong></span>
                                       	<ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Declaración Jurada, con firma y huella digital de cada uno de los cónyuges, de no tener hijos menores de edad o mayores con incapacidad.</span>
                                       		</li>
                                       	</ul>
                                       	
                                       	<span><strong>En caso de tener hijos menores:</strong></span>
                                       	<ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Adjuntar copia certificada del acta o de la Partida de Nacimiento, expedida dentro de los tres meses anteriores a la fecha de presentación de la solicitud.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Presentar copia certificada de la sentencia judicial firme o acta de conciliación respecto de los regímenes del ejercicio de la patria potestad, alimentos, tenencia, y visitas.</span>
                                       		</li>
                                       	</ul>
                                       	
                                       	<span><strong>En caso de tener hijos mayores con incapacidad:</strong></span>
                                       	<ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Adjuntar copia certificada del acta o de la Partida de Nacimiento, expedida dentro de los tres meses anteriores a la fecha de presentación de la solicitud.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Presentar copia certificada de la sentencia judicial firme o acta de conciliación respecto de los regímenes del ejercicio de la curatela, alimentos, y visitas.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Anexar copias certificadas de las sentencias judiciales firmes que declaren la interdicción del hijo mayor con incapacidad y que nombran a su curador.</span>
                                       		</li>
                                       	</ul>
                                    </div>
								</div>
								
								<h6  class="title-info">3) Requisitos relacionados con el patrimonio</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       	<ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">En caso no hubiera bienes, Declaración Jurada, con firma e impresión de la huella digital de cada uno de los cónyuges de carecer de bienes sujetos al régimen de sociedad de gananciales.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">En caso se haya optado por el régimen de separación de patrimonios, presentar el Testimonio de la Escritura Pública inscrita en los Registros Públicos.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">En el supuesto que se haya sustituido el régimen de la sociedad de gananciales por el de separación de bienes o se haya liquidado el régimen patrimonial, se presentará el Testimonio de la Escritura Pública inscrita en los Registros Públicos.</span>
                                       		</li>
                                       	</ul>
                                    </div>
								</div>
								
								<h6  class="title-info">Ley N° 29227, ley que regula el procedimiento no contencioso divorcio ulterior, (16.05.2008)</h6>
								<h6  class="title-info">1) Requisitos Generales</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">
                                       				Solicitud de disolución del vínculo matrimonial presentada por cualquiera de los cónyuges dirigida al Alcalde de la jurisdicción, señalando nombre, documento de identidad, y firma del solicitante.<br>
                                       				Procederá la firma a ruego en el caso de que el solicitante sea analfabeto, no puede firmar, es ciego o adolece de otra discapacidad, sin perjuicio de que impriman su huella digital o grafía, de ser el caso.
												</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Copia de la resolución de separación convencional</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Recibo de pago de la tasa  S/ 59.04</span>
                                       		</li>
                                       </ul>
                                    </div>
								</div>
								
								<div class="row">
                                    <div class="col-md-12">
                                    	<p>Cualquier consulta al respecto, podrá realizarla acudiendo a esta municipalidad distrital de Santa Anita de Lunes a Viernes de 8 a.m. a 5 p.m. donde gustosamente	lo atenderemos.</p>
                                    </div>
                                </div>
								
	                           
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>