<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           <h3 class="stitle text-center">Cl&iacute;nica Municipal</h3>

								<!-- <div th:replace="web/fragments/mini-banner"></div> -->
						
								<h6 class="title-info">Campa&ntilde;as de salud dirigidas a la poblaci&oacute;n:</h6>
								
								
								<div class="row">
									<div class="col-md-12">
										<p align="justify"><strong>1.  Campañas internas:</strong> Son campañas dirigidas a nuestros pacientes a un costo inferior al costo social que se maneja diariamente. Normalmente el descuento se aplica a procedimientos y exámenes frecuentes en cada una de las especialidades.</p>
										<p align="justify"><strong>2.  Campañas externas:</strong> En las campañas externas se busca descartar las enfermedades básicas (anemia y diabetes) que se presentan en la comunidad, no existe costo alguno y se brindan servicios adicionales (podología, masajes relajantes, entrega de medicamentos gratuitos) de modo que las personas conozcan un poco más la clínica. Todas las campañas acompaña un médico general y en ocasiones un pediatra.</p>
										<p align="justify"><strong>3.  Voluntariado:</strong> Es un programa articulado entre la MDSA, MINSA, DISA y universidades que se encuentren cerca nuestra jurisdicción (Universidad San Martín de Porres y la Universidad Federico Villarreal). Se trabaja con los jóvenes universitarios en actividades de prevención en colegios del distrito, así como también en los diversos pueblos de Santa Anita.</p>
						        	</div>
								</div>
								
								
								<h6 class="title-info">Atención en las siguientes especialidades:</h6>
								<ul class="checklist ">
									   <li class="row">
									   		<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Cardiología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Cirugía General</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Cirugía Oncológica</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Dermatología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Endocrinología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Flebología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Gastroenterología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Geriatría</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Ginecología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Medicina General</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Neumología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Nutrición</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Odontología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Oftalmología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Otorrinolaringología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Pediatría</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Psiquiatría</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Psicología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Podología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Reumatología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Terapia Física</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Terapia de Lenguaje</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Urología</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Urgencias</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Laboratorio</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Rayos X</span>
											</div>
											<div class="col-md-3 col-sm-4 col-xs-12">
												<i class="fas fa-check"></i> <span>Ecografías</span>
											</div>
									   </li>
									   
								</ul>
								<div class="row">
                                    <div class="col-md-12">
                                       <div class="rel-box">
                                          	<div class="row">
                                          		<div class="col-md-6  col-sm-6 col-xs-12 informatin-card">
                                          			<h6>Dirección:</h6>
                                          			<div>Jr. San Pablo S/N Urb. Los Productores</div>
                                          		</div>
                                          		<div class="col-md-6  col-sm-6 col-xs-12 informatin-card">
                                          			<h6>Horario de atención:</h6>
                                          			<div>Lunes a Viernes de 7:00 a 19:00 horas</div>
                                          			<div>Sábados de 7:00 a 14:00 horas</div>
                                          			<div>Teléfono: (01) 637-1438</div>
                                          		</div>
                                          	</div>
                                       </div>
                                    </div>
								</div>
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>