<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           	<h3 class="stitle text-center">Oficina municipal de atenci&oacute;n a las personas con discapacidad (OMAPED)</h3>
	                           	
	                           	<div class="row">
                                    <div class="col-md-12">
                                    	<p>La OMAPED es la Oficina Municipal de Atención a las Personas con Discapacidad, en nuestro municipio, se enmarca en la visión de lograr calidad de vida para las personas con algún tipo de discapacidad, asimismo, velar por sus derechos y fomentar su participación en la sociedad a través de talleres, actividades productivas, convenios, etc.</p>
                                    	<p>En la municipalidad de Santa Anita depende funcionalmente de la Sub Gerencia de Desarrollo Humano, Inclusión Social y OMAPED.</p>
                                    </div>
								</div>

								<div th:replace="web/fragments/mini-banner"></div>
	                           	
	                           	<h5>Servicios</h5>
	                           	<h6  class="title-info">Actividades Recreativas:</h6>
                                <ul class="checklist">
                                    <li class="row">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Paseos</div>
                                            <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Gymkanas</div>
                                            <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Actividades de acuerdo al calendario</div>
                                    </li>
                                </ul>
								
								<h6  class="title-info">Actividades Culturales:</h6>
								<ul class="checklist">
                                    <li class="row">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Talleres de Arte</div>
                                            <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Participación en actividades artísticas en eventos institucionales</div>
                                    </li>
                                </ul>
								
								<h6  class="title-info">Consultorios:</h6>
								<ul class="checklist">
                                    <li class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Médico</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Psicológico</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Legal</div>
                                    </li>
                                </ul>
								
								<h6  class="title-info">Formación para el Trabajo:</h6>
								<ul class="checklist">
                                    <li class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Talleres de elaboración de productos</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Ferias de exposición y venta de productos</div>
                                    </li>
                                </ul>
								
								<h6  class="title-info">Funciones</h6>
								<div class="row">
                                    <div class="col-md-12">
                                       <ul class="table-info table-info-border-none checklist">
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Difundir, fomentar y apoyar la formulación e implementación de programas de prevención, educación, rehabilitación e    integración social de las personas en situación de discapacidad. De acuerdo a la ley Nº 27050.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Concertar con el sector privado el otorgamiento de beneficios para las personas con discapacidad. Formular y aprobar las    políticas para la prevención, atención e integración social de la persona en situación de discapacidad.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Apoyar y promover el financiamiento de los proyectos que desarrollen las personas en situación de discapacidad.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Brindamos información, asesoría y capacitamos sobre sus derechos e igualdad de oportunidad para todos.</span>
                                       		</li>
                                       		
                                       		
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Fomentar el trabajo a través de redes, conformando la red de OMAPED de Lima Este.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Empadronamiento de personas en situación de discapacidad.</span>
                                       		</li>
                                       		<li>
                                       			<span class="table-item-ico left"><i class="fas fa-check"></i></span>
                                       			<span class="table-item-text">Otras funciones en coordinación con las unidades orgánicas del corporativo.</span>
                                       		</li>
                                       </ul>
                                    </div>
								</div>
								
								
								<div class="row">
                                    <div class="col-md-12">
                                       <div class="rel-box">
                                          	<div class="row">
                                          		<div class="col-md-6 col-sm-6 informatin-card">
                                          			<h6>Direcci&oacute;n:</h6>
                                          			<div>Parque Lampa de Oro, Cooperativa Chancas de Andahuaylas (Casa del Adulto Mayor).</div>
                                          		</div>
                                          		<div class="col-md-6 col-sm-6 informatin-card">
                                          			<h6>Horario de atenci&oacute;n:</h6>
                                          			<div>Lunes a Viernes de 8:00 a 01:00 PM y de 2:00 a 4:00 PM</div>
                                          			<div>Tel&eacute;fono: (01) 362-8080</div>
                                          		</div>
                                          	</div>
                                       </div>
                                    </div>
								</div>
								
	                           
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>