<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{web/layouts/principal/container}">
	<head>
	</head>
	<body layout:fragment="content" class="haeder-fixed-scroll">
		
		<div th:replace="web/fragments/banner"></div>
		
         <div class="main-content p130-50">
         	<section class="department-details">
         		<div class="container">
         			<div class="row">
         				<div class="col-md-12">
	                        <div class="deprt-txt">
	                           <h3>Centro de Desarrollo para la Mujer(Casa de la Mujer)</h3>
	                           
	                           <div class="row">
									<div class="col-md-12">
		                           		<p>El Centro de Desarrollo para la Mujer (Casa de la Mujer) est&aacute; ubicado entre la Urbanizaci&oacute;n Residencial Risso y la Cooperativa de Vivienda Benjamin Doig, cuenta con diferentes servicios dirigidos a todas nuestras vecinas.</p>
		                           	</div>
		                       </div>
	                           
	                           <div th:replace="web/fragments/mini-banner"></div>
	                           
	                           
	                           <h5>Servicios:</h5>
                               <ul class="checklist">
                                    <li class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Manualidades</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Danza</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Yoga</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Costura</div>
                            
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Aeróbicos</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Botánica</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Repostería</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Tai chi</div>
                                        
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Computación</div>
                                    </li>
                                </ul>
								
								<h6  class="title-info">Talleres:</h6>
								<ul class="checklist">
                                    <li class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Guardería Municipal N° 1</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Demuna</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Asesoría Legal</div>
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Consultorio Psicológico</div>
                                
                                        <div class="col-md-3 col-sm-4 col-xs-12"><i class="fas fa-check"></i> Talleres Productivos</div>
                                    </li>
                                </ul>
								
								<br/>
								<div class="row">
                                    <div class="col-md-12">
                                       <div class="rel-box">
                                          	<div class="row">
                                          		<div class="col-md-6 col-sm-6 informatin-card">
                                          			<h6>Dirección:</h6>
                                          			<div>Jr. San Isidro Cuadra 2 S/N Urb. Residencial Risso (Av. Los Virreyes, altura del paradero Botica Carrión)</div>
                                          		</div>
                                          		<div class="col-md-6 col-sm-6 informatin-card">
                                          			<h6>Horario de atención:</h6>
                                          			<div>Lunes a Viernes de 8:00 a 01:00 PM y de 2:00 a 4:00 PM.</div>
                                          			<div>Teléfono: (01) 343-0366</div>
                                          		</div>
                                          	</div>
                                       </div>
                                    </div>
								</div>
	                        </div>
	                        
         				</div>
         			</div>
         		</div>
         	</section> 
         </div>
	</body>
</html>