<div class="deprt-txt gallery">
		<h3 class="stitle text-center">Proceso de Cambio de Zonificación</h3>
		
		<div class="row">
	        <div class="col-md-12">
				<p>Se notifica a los vecinos que se encuentra en trámite en la Municipalidad Distrital de Santa Anita el Cambio Especifico de Zonificación :</p>
				
				<p><strong>Expediente : </strong> N° 141605-10 (Documento Externo N° 10894 de fecha 28-10-10)</p>
				<p><strong>Fecha de inicio del proceso de evaluación :</strong> 06-10-10</p>
				<p><strong>Nombre o razón Social del solicitante:</strong> Consorcio Educativo Juan Espinoza Medrano El Apostol S.A.C.</p>
				<p><strong>Ubicación del predio solicitante :</strong> MZ. D (LOTES DEL 41 al 47), DE LA ASOCIACIÓN DE VIVIENDA LA ENCALADA</p>
			</div>
		</div>
		
		<br/>
		
		<div class="row">
			<div class="col-md-12">
				<ul class="gallery-4-col float-none">
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/area-inmediata-de-la-propuesta-de-cambio-especifico-de-zonificacion.jpg')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/area-inmediata-de-la-propuesta-de-cambio-especifico-de-zonificacion.jpg')}" alt="Área inmediata de la propuesta de cambio especifico de zonificación"> 
						</a>
						<p>Área inmediata de la propuesta de cambio especifico de zonificación</p>
					</li>
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/area-proxima-a-la-propuesta-de-cambio-especifico-de-zonificacion.jpg')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/area-proxima-a-la-propuesta-de-cambio-especifico-de-zonificacion.jpg')}" alt="Área próxima a la propuesta de cambio especifico de zonificación"> 
						</a>
						<p>Área próxima a la propuesta de cambio especifico de zonificación</p>
					</li>
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/zonificacion-actual-rdm-residencial-de-densidad-media.jpg')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/zonificacion-actual-rdm-residencial-de-densidad-media.jpg')}" alt="Zonificación actual : rdm residencial de densidad media"> 
						</a>
						<p>Zonificación actual : rdm residencial de densidad media</p>
					</li>
					<li>
						<a data-rel="prettyPhoto[gallery]" th:href="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/zonificacion-propuesta-cv-comercio-vecinal.jpg')}">
							<img th:src="${@helper.assetsImg('proceso-de-cambio-de-zonificacion/2010/4/zonificacion-propuesta-cv-comercio-vecinal.jpg')}" alt="Zonificación propuesta : cv comercio vecinal"> 
						</a>
						<p>Zonificación propuesta : cv comercio vecinal</p>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="row">
	        <div class="col-md-12">	
				<p><strong>Plazo Presentación de Opiniones :</strong> 28 de Noviembre de 2010</p>
				<p><strong>Lugar para presentar opiniones :</strong> Gerencia de Obras y Desarrollo Urbano y Oficina de Participación Vecinal de la Municipalidad de Santa Anita</p>
			</div>
		</div>
</div>	