<h1 class="title-info mt-0">Funciones del serenazgo</h1>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/funciones-del-serenazgo.jpg')}" alt="">
</div>

<br/>

<p>
	Ejecutar, supervisar, evaluar y controlar las acciones preventivas y disuasivas en cada zona del distrito, contra los probables hechos y circunstancias que afecten la seguridad y tranquilidad publica del distrito.<br/>
	Programar, ejecutar, coordinar y supervisar las actividades que protejan a la comunidad de actos que atenten contra la moral y buenas costumbres así como de la seguridad ciudadana, conjuntamente con la Policía Nacional del Perú (PNP) realizando patrullajes permanentes.<br/>
	Formular el diagnostico de la problemática de seguridad ciudadana y elaborar el mapa distrital de la incidencia delictiva de la jurisdicción.
</p>