<h1 class="title-info mt-0">GOES (Grupo de Operaciones Especiales)</h1>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/goes-1.jpg')}" alt="">
</div>
<br/>
<p>
	Los integrantes del GOES cuentan una característica laboral referencial como sustento al trabajo específico que realiza en otra Dependencia edil, siendo preferentemente personal en retiro y procedente de la FF. AA. , PNP o un civil con formación y/o experiencia en seguridad.<br/>
	Como parte de sus funciones se encuentra la captura infraganti de delincuentes, erradicación de pandilleros, consumidores de drogas y alcohol en la vía pública, paralización de fiestas chichas públicas, disuadir a las personas que cometan actos contra la moral y las buenas costumbres del distrito.
</p>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/goes-2.jpg')}" alt="">
</div>
<br/>
