<h1 class="title-info mt-0">Patrullaje móvil</h1>

<div class="new-thumb new-thumb-post">
	<img th:src="${@helper.assetsImg('servicios/seguridad-ciudadana/patrullaje-movil.jpg')}" alt="">
</div>

<h6 class="title-info">Patrullaje municipal</h6>
<div class="row">
	<div class="col-md-12">
		<p>El patrullaje municipal se realiza con la presencia de un conductor debidamente capacitado y un operador de serenazgo, quienes cubren los diferentes sectores, sub sectores y cuadrantes del distrito, de acuerdo a la "Guía de Orientación Metodológica para el Patrullaje por Sector en los Gobiernos Locales" establecido por la DGSC (Dirección General de Seguridad Ciudadana) perteneciente al Ministerio del Interior.</p>
	</div>
</div>

<h6 class="title-info">Patrullaje integrado</h6>
<div class="row">
	<div class="col-md-12">
		<p>El patrullaje integrado se realiza con la presencia de un conductor de la municipalidad de Santa Anita y un efectivo policial perteneciente a la Comisaría del sector; estableciendo la efectiva ejecución del servicio entre la Policía Nacional del Perú y los Gobiernos Locales, el cual tiene como finalidad asegurar el correcto y adecuado funcionamiento del Sistema Nacional de Seguridad Ciudadana, para lograr la disminución de los índices delictivos y de inseguridad ciudadana, otorgando una mayor seguridad.</p>
	</div>
</div>

<h6 class="title-info">Comisaría de Santa Anita</h6>
<div class="row">
	<div class="col-md-12">
		<ul class="checklist table-info">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">De 07 a 15 horas (4 efectivos policiales)</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">De 15 a 23 horas (4 efectivos policiales)</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">De 23 a 07 horas (2 efectivos policiales)</span>
			</li>
		</ul>
	</div>
</div>

<h6 class="title-info">Comisaría de Villa Hermosa</h6>
<div class="row">
	<div class="col-md-12">
		<ul class="checklist table-info">
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">De 07 a 15 horas (1 efectivo policial)</span>
			</li>
			<li>
				<span class="table-item-ico left"><i class="fas fa-check"></i></span>
				<span class="table-item-text">De 15 a 23 horas (1 efectivo policial)</span>
			</li>
		</ul>
	</div>
</div>

<p>Este servicio lo ofrecen los efectivos policiales en sus días de servicio en coordinación con la Gerencia de Seguridad Ciudadana, dichos servicios serán monitoreados por el Comisario.</p>