<h1 class="title-info mt-0">Serenazgo</h1>

<p>
	La Unidad de Serenazgo es un órgano de línea, encargado de coordinar, y en su caso colaborar con los órganos públicos competentes en la protección de personas y/o bienes, así como en el mantenimiento de la tranquilidad y el orden ciudadano.<br/>
	El Serenazgo, como organización municipal, es creado para apoyar las tareas de seguridad ciudadana. Cumple un rol importante entre la Policía Nacional, gobiernos municipales y vecinos organizados, para prevenir la incidencia delictiva.<br/>
	El Serenazgo, desde su creación, ha aportado mucho a la seguridad, cumpliendo un papel importante en el patrullaje de las calles y avenidas, así como en dar la voz de alarma cuando el delito ha querido imponerse.
</p>