<div class="table-responsive">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-style-horario">
        <tbody>
            <tr class="table-titulo">
                <td class="t-1">TALLER</td>
                <td class="table-horario-pe t-2">HORARIO</td>
                <td class="t-3">DURACIÓN</td>
                <td class="t-4">SEDE</td>
                <td class="table-inversion t-5">INVERSIÓN</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Natación</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes o martes, jueves y sábado de 6 a 18 años</li>
                        <li>08:00 a.m. a 09:00 a.m.</li>
                        <li>09:00 a.m. a 10:00 a.m.</li>
                        <li>10:00 a.m. a 11:00 a.m.</li>
                        <li>11:00 a.m. a 12:00 p.m. (1 a 3 años)</li>
                        <li>11:00 a.m. a 12:00 p.m.</li>
                        <li>12:00 p.m. a 01:00 p.m.</li>
                        <li>03:00 p.m. a 04:00 p.m.</li>
                        <li>04:00 p.m. a 05:00 p.m.</li>
                        <li>05:00 p.m. a 06:00 p.m.</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Piscina “Universal” (mañana y tarde) y Piscina “Alameda”
                    (sólo mañanas)</td>
                <td class="table-inversion" valign="top">S/ 140.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Fútbol</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes o martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (5 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 12 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años)</li>
                        <li>03:00 p.m. a 04:30 p.m. (6 a 12 años)</li>
                        <li>04:30 p.m. a 06:00 p.m. (13 a 17 años)</li>

                        <li>Lunes, miércoles y viernes o martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (5 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 12 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Estadio “Los Chancas de Andahuaylas” y Estadio “Manuel
                    Correa”</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Futbol 7 (Fulbito)</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes o martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (5 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 12 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años)</li>
                        <li>03:00 p.m. a 04:30p.m. (6 a 9 años)</li>
                        <li>04:30 p.m. a 06:00 p.m. (5 a 12 años)</li>
                        <li>06:30 p.m. a 07:30 p.m. (10 a 12 años)</li>

                        <li>Lunes, miércoles y viernes</li>
                        <li>09:30 a.m. a 11:00 a.m. (6 a 7 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (8 a 12 años)</li>

                        <li>Martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (5 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 12 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Polideportivo “Los Ruiseñores”, Campo Deportivo “Parodi” y
                    Campo de Grass Sintético “Huáscar”</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Basquetball</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes o martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (5 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 12 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años)</li>
                        <li>03:00 p.m. a 04:30 p.m. (5 a 12 años)</li>
                        <li>04:30 p.m. a 06:00 p.m. (12 a 14 años)</li>
                        <li>06:00 p.m. a 07:30 p.m. (15 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Estadio municipal “Manuel Correa” y Polideportivo “Los
                    Ruiseñores”</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Aeróbicos</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes</li>
                        <li>03:00 p.m. a 04:30 p.m.(6 a 14 años)</li>
                        <li>04:30 p.m. a 06:00 p.m.(15 años a más)</li>

                        <li>Martes, jueves y sábado</li>
                        <li>04:00 p.m.a 05:30 p.m.(6 a 14 años)</li>
                        <li>05:30 p.m.a 07:00 p.m.(15 años a más)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Palacio Municipal y Casa de la Mujer</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Voleibol</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes o martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (5 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 12 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años)</li>
                        <li>03:00 p.m. a 04:30 p.m. (5 a 12 años)</li>
                        <li>04:30 p.m. a 06:00 p.m. (12 a 14 años)</li>
                        <li>06:00 p.m. a 07:30 p.m. (15 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Polideportivo “Los Ruiseñores”, Estadio “Manuel Correa” y
                    Casa de la Mujer</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Ajedrez</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes o martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (9 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 8 años)</li>
                        <li>11:00 a.m. a 12:00 p.m. (13 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Biblioteca Municipal (2do piso)</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Karate</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes</li>
                        <li>08:00 a.m. a 09:30 a.m. (9 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 8 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años) </li>
                        <li>03:00 p.m.a 04:30 p.m. (5 a 10 años)</li>
                        <li>04:30 p.m.a 06:00 p.m. (11 a 17 años)</li>

                        <li>Martes, jueves y sábado</li>
                        <li>03:00 p.m.a 04:30 p.m. (5 a 10 años)</li>
                        <li>04:30 p.m.a 06:00 p.m. (11 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Palacio Municipal y Casa de la Mujer</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Boxeo</td>
                <td class="table-horario">
                    <ul>
                        <li>Martes, jueves y sábado</li>
                        <li>04:00 p.m. a 05:30 p.m. (8 a 12 años)</li>
                        <li>05:30 p.m. a 07:00 p.m. (13 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 07 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Palacio Municipal (4to piso)</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Gimnasia deportiva</td>
                <td class="table-horario">
                    <ul>
                        <li>Martes, jueves y sábado</li>
                        <li>08:00 a.m. a 09:30 a.m. (9 a 12 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (5 a 8 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (13 a 17 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 07 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Palacio Municipal (4to piso)</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Tennis de mesa</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes, miércoles y viernes</li>
                        <li>08:00 a.m. a 09:30 a.m. (6 a 9 años)</li>
                        <li>09:30 a.m. a 11:00 a.m. (10 a 13 años)</li>
                        <li>11:00 a.m. a 12:30 p.m. (14 años a más)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 07 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">Palacio Municipal (3er piso)</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
        </tbody>
    </table>
</div>