<div class="table-responsive">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-style-horario">
        <tbody>
            <tr class="table-titulo">
                <td class="t-1">TALLER</td>
                <td class="table-horario-pe t-2">HORARIO</td>
                <td class="t-3">DURACIÓN</td>
                <td class="t-4">SEDE</td>
                <td class="table-inversion t-5">INVERSIÓN</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Guitarra</td>
                <td class="table-horario">
                    <ul>
                        <li>Lunes y miércoles, 08:30 a.m. a 10:00 a.m. (5 a 7 años)</li>
                        <li>Lunes y miércoles, 10:10 a.m. a 11:40 a.m. (7 a 10 años)</li>
                        <li>Lunes y miércoles, 11:50 a.m. a 01:20 p.m.(11 a 16 años)</li>
                        <li>Viernes y sábado, 08:30 a.m. a 10:00 a.m. (7 a 10 años)</li>
                        <li>Viernes y sábado, 10:10 a.m. a 11:40 a.m. (9 a 12 años)</li>
                        <li>Viernes y sábado, 11:50 a.m. a 01:20 p.m. (13 a 16 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 06 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">CASA DE LA JUVENTUD: (Av. Avutardas, Cda. 7 s/n COOP. MIGUEL GRAU)</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Órgano electrónico</td>
                <td class="table-horario">
                    <ul>
                        <li>Viernes y sábado, 08:30 a.m. a 10:00 a.m. (4 a 8 años)</li>
                        <li>Viernes y sábado, 10:10 a.m. a 11:40 a.m. (9 a 12 años)</li>
                        <li>Viernes y sábado, 11:50 a.m. a 01:20 p.m. (13 años a más)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 10 de ene al 29 de feb</td>
                <td class="table-inscripcion" valign="top">CASA DE LA JUVENTUD: (Av. Avutardas, Cda. 7 s/n COOP. MIGUEL GRAU)</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
            <tr>
                <td class="table-curso table-curso-pe" valign="top">Canto</td>
                <td class="table-horario">
                    <ul>
                        <li>Martes y jueves, 08:30 a.m. a 10:00 a.m. (7 a 10 años)</li>
                        <li>Martes y jueves, 10:10 a.m. a 11:40 a.m. (11 a 16 años)</li>
                    </ul>
                </td>
                <td class="table-fecha" valign="top">Del 07 de ene al 27 de feb</td>
                <td class="table-inscripcion" valign="top">CASA DE LA JUVENTUD: (Av. Avutardas, Cda. 7 s/n COOP. MIGUEL GRAU)</td>
                <td class="table-inversion" valign="top">S/ 100.00</td>
            </tr>
        </tbody>
    </table>
</div>